[2017-06-13 20:18] hashibot opened #3 "Support managing Deployment resource"
_This issue was originally opened by @dasch as hashicorp/terraform#13420. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Currently, I have to use somewhat of a hack in order to have Terraform create my Kubernetes deployments and services:

[code]

I use the above mod

[2017-06-13 20:32] hashibot opened #4 "Feature request: Kubernetes storage_class resource"
_This issue was originally opened by @devth as hashicorp/terraform#14358. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

StorageClass would be a great addition to the existing [Kubernetes resources](https://github.com/hashicorp/terraform/tree/master/builtin/providers

[2017-06-13 21:14] hashibot opened #5 "kubernetes provider: No Auth Provider found (GCP)"
_This issue was originally opened by @mattes as hashicorp/terraform#15244. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.9.8

### Affected Resource(s)
- kubernetes

### Terraform Configuration Files
[code]

### Debug Output
[code]

[2017-06-20 12:49] bonifaido opened #8 "Failed to configure: No Auth Provider found for name "oidc""
### Terraform Version
Terraform v0.9.8

### Affected Resource(s)
[code]
### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/internals/debugging.html. Please do NOT paste the debug output in the issue; just paste a link to the Gist.

### Panic Output
Error refreshing state: 1 error(s)

[2017-06-25 14:01] #5 closed

[2017-06-25 14:01] #8 closed

[2017-06-28 08:42] elblivion opened #13 "Feature Request: Kubernetes Service data source"
Hi,

We are using Kubernetes itself to create the LoadBalancer type Services as AWS ELBs. It would be great to be able to extract the corresponding ELB dns name (`status.loadbalancer.ingress.hostname`) from a data source in Terraform so we can e.g. create a Route 53 CNAME or ALIAS A RR pointing to it.

Thanks,
Anthony

[2017-06-28 09:11] radeksimko commented on #13
Thanks for submitting this issue.

I think there are a few caveats as service doesn't have to be always `Type=LoadBalancer` and the LB might not expose a hostname, so you'll only get an IP, but otherwise this sounds like a good idea.

[2017-06-28 13:39] holoGDM opened #14 "Feature request: Ingress resource"
Hello

There is lack of [ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) resources support in Terraform. Please can you add it?

Regards
holoGDM

[2017-06-28 13:42] holoGDM commented on #3
There is service support: [link](https://www.terraform.io/docs/providers/kubernetes/r/service.html) but there is not [Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) it could be nice  to configure whole my environment from Terraform not only part of it. Please can you add it?

[2017-06-28 13:55] radeksimko commented on #14
Hi @holoGDM
unfortunately ingress is currently in v1beta phase: https://kubernetes.io/docs/resources-reference/v1.6/#ingress-v1beta1-extensions

As [mentioned](https://github.com/terraform-providers/terraform-provider-kubernetes#contributing-resources) in the Readme, for reasons discussed in https://github.com/terraform-providers/terraform-provider-kubernetes/pull/1#issuecomment-307940033 there ar

[2017-06-28 13:58] radeksimko commented on #3
As [mentioned](https://github.com/hashicorp/terraform/issues/13420#issuecomment-293234215) in the original linked issue and elsewhere there are no plans for supporting alpha or beta resources, which is Deployment's case.

I'm happy to revisit this issue once the resource reaches v1 (stable).

Thanks for understanding.

[2017-06-30 17:48] andrewrynhard opened #15 "Namepsace resource should have a "name" attribute"
Without this, we are forced to use `depends_on` for any resources that require the namespace. For example, I want to create a namespace then reference that namespace and create a secret in it. Also, it is not very DRY to update the namespace name in places that depend on it.

[2017-07-01 07:21] radeksimko commented on #15
Hi @andrewrynhard
the [`name` argument](https://www.terraform.io/docs/providers/kubernetes/r/namespace.html#name) (which is also exported attribute, like all other arguments) is part of the `metadata` block.
you can reference the namespace like this:

[code]

I admit the `0` index isn't exactly intuitive, but that's given by the current limitation of Terraform's core/schema. We have some long-term

[2017-07-01 07:21] #15 closed

[2017-07-04 12:36] roidelapluie commented on #3
I think it is time to change that policy. We could have a beta version of this providers which contains deployments?

[2017-07-04 12:36] roidelapluie commented on #3
(I mean, because there is now the split providers in 0.10)

[2017-07-04 13:02] radeksimko commented on #3
@roidelapluie The reasons for not supporting alpha/beta still remain the same even after provider split. The problem wasn't/isn't the codebase or versioning of it. It's the API versioning and promises (or lack of) related to those versions.

TL;DR these reasons are IMO still valid: https://github.com/terraform-providers/terraform-provider-kubernetes/pull/1#issuecomment-307940033

Unfortunately we

[2017-07-04 17:20] hashibot opened #18 "Terraform crash panic: interface conversion: interface {} is nil, not int"
_This issue was originally opened by @roidelapluie as hashicorp/terraform#15468. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

Terraform v0.10.0

(beta)

### Terraform Configuration Files

[demo-02.zip](https://github.com/hashicorp/terrafo

[2017-07-04 17:42] radeksimko commented on #18
Hi @roidelapluie
thanks for testing the K8S pod resource in this early stage and reporting this crash and sorry for the bug.

I raised this PR to fix it: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/19

[2017-07-04 21:40] roidelapluie commented on #18
awesome! Thank you

[2017-07-05 08:20] #18 closed

[2017-07-05 09:27] roidelapluie opened #20 "ContainerPort: ForceNew"
Hi,

In kubernetes pods, we can not update a container port. Is there a reason not to have set ForceNew on those schema fields?

Thanks.

[2017-07-05 09:31] radeksimko commented on #20
Hi @roidelapluie
there's a reason. We did discuss this during the initial implementation of `kubernetes_pod`.

It was more-or-less deliberate decision because there are part of the schema shared between `pod` and `replication_controller`. Some fields are updatable in the context of the second resource.

That said I agree it would be useful to reflect these differences in the schema while still tak

[2017-07-05 21:01] svenmueller commented on #5
i'm running version `Terraform v0.9.11` and still get the following error. Any idea how to solve this?

`* module.kubernetes.provider.kubernetes: Failed to configure: No Auth Provider found for name "gcp"`

[2017-07-08 04:54] zostay opened #25 "import kubernetes_secret causes panic"
### Terraform Version
Terraform v0.9.11

### Affected Resource(s)
kubernetes_secret

### Terraform Configuration Files
[code]

### Panic Output
It panicked. I can provide the output if you cannot repro. I am too lazy to read through the crash log to see what/if anything I need to elide.

### Expected Behavior
DON'T PANIC

### Actual Behavior
PANIC

### Steps to Reproduce
1. `terraform import kuber

[2017-07-08 11:27] radeksimko commented on #5
@svenmueller per [changelog](https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/CHANGELOG.md) this bugfix was released in `0.1.1` which is available via any of the `0.10` recent beta Terraform releases.

There are no plans of backporting this to `0.9`.

[2017-07-09 12:17] radeksimko commented on #25
Hi @zostay
thank you for opening this issue.

I'm struggling to reproduce the crash unfortunately. Here's what I tried:

[code]

Would you mind providing more details? Removing any sensitive data from the crash/debug log is (obviously) a good practice either way, but in case you want to reduce the risk of exposing any such data here on Github feel free to GPG-encrypt them & send me directly to rad

[2017-07-10 22:28] shadycuz opened #26 "kubernetes_service requires port to be set in situations where kubernetes API doesn't."
### Terraform Version
levi@La-Tower:~$ terraform -v
Terraform v0.9.11

### Affected Resource(s)
- kubernetes_service

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/shadycuz/507fbd614b43aacd6a5a46edfbbfc834#file-gistfile1-txt

### Expected Behavior
Service should be created, as described in the kubernetes service [documentation.](https://kubernetes.io/docs/conce

[2017-07-12 13:59] radeksimko commented on #26
Hi @shadycuz
thank you for noticing this and reporting it as bug.

I just submitted fix in https://github.com/terraform-providers/terraform-provider-kubernetes/pull/27

[2017-07-12 14:40] shadycuz commented on #26
You are welcome @radeksimko

It seems like a pretty easy fix but sometimes ports are required. Is it up to the user to follow the dependencies from the documenation of that resource?

If I try to execute a service that requires a port, will terraform error when I run plan or will it allow me to run apply and error when kubernetes rejects it?

just curious.

Thanks =)

[2017-07-12 17:03] radeksimko commented on #26
@shadycuz We don't have any good mechanisms to express conditional requirements (field being `Required` under some conditions) at this point in the core schema, so we just fall back to the API validation there.

The only caveat is that the failure will be raised during `apply`, not `plan`.

[2017-07-17 16:21] munnerz opened #30 "Feature request: {Cluster,""}RoleBinding/{Cluster,""}Role support"
It'd be great if we could create ClusterRole, ClusterRoleBinding, Role & RoleBinding resources in a Kubernetes API server.

This is especially so, since Kubernetes only allows privileged users of a Kubernetes cluster create the Cluster* variants of these, making them ideal to be created by something like Terraform.

[2017-07-18 05:27] #4 closed

[2017-07-18 05:29] #26 closed

[2017-07-18 05:30] #13 closed

[2017-07-18 06:17] radeksimko commented on #30
Hi @munnerz
the mentioned resources are currently in v1beta phase: https://kubernetes.io/docs/resources-reference/v1.6/#clusterrole-v1beta1-rbac

As [mentioned](https://github.com/terraform-providers/terraform-provider-kubernetes#contributing-resources) in the Readme, for reasons discussed in https://github.com/terraform-providers/terraform-provider-kubernetes/pull/1#issuecomment-307940033 there a

[2017-07-18 06:21] radeksimko commented on #25
Friendly ping @zostay

I'd love to fix this as crashes are usually the most annoying bugs, but I can't do so without a repro case, unfortunately. 😢

To prevent this issue from becoming stale I will close it in 20 days from now if there's no response.
Thanks for the help and understanding.

[2017-07-18 16:06] zostay commented on #25
Closing it myself. I can no longer reproduce it and I did not save my logs from before. :(

[2017-07-18 16:06] #25 closed

[2017-07-18 23:59] MaximF opened #31 "Feature request for Kubernetes pods"
### Terraform Version
Terraform v0.9.11

### Explanation
Basing on [official documentation](https://www.terraform.io/docs/providers/kubernetes/index.html) there is no way to configure pods inside kubernetes cluster.
However, there is [community-based plugin](https://github.com/maxmanuylov/terraform-provider-kubernetes) doing the missing functionality.

It would be great, if Terraform could provisi

[2017-07-19 09:49] radeksimko commented on #31
Hi @MaximF
`kubernetes_pod` probably slipped through the cracks of Changelogs somewhere between 0.9 and 0.10 (provider split), but it is supported:

https://github.com/hashicorp/terraform/pull/13571
Docs: https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/website/docs/r/pod.html.markdown

It's available in the latest `0.10beta` which should automatically download the

[2017-07-19 09:49] #31 closed

[2017-07-19 19:55] MaximF commented on #31
Awesome, thank you @radeksimko!

[2017-07-22 06:12] mingfang commented on #3
API will always change, even when it's not labeled as beta. That's why version numbers go up.
Deployments has been around for a long time now.
Virtually all of my kubernetes components are deployed using Deployments.
Without it, this plugin is virtually useless to me.

[2017-07-22 13:51] roidelapluie commented on #3
*every single* tutorial/training is using deployments.

[2017-07-26 05:41] mingfang commented on #3
I added Deployment support in my fork.
https://github.com/mingfang/terraform-provider-kubernetes/commit/50a308612f71ef5ca042cdf901c0d2d4154dd369

[2017-07-26 06:43] roidelapluie commented on #3
@mingfang You are awesome.

[2017-07-26 08:36] rolandkool opened #34 "Variables not correctly interpreted when configuring labels on a namespace"
When working with the kubernetes namespace resource, I ran into an issue where it seems that variables that are fetched from remote state are not interpreted and seem to be treated as literals.
Only the labels seem to be affected, the `name` property does not have an issue.

### Terraform Version
This is with terraform version 0.10-rc1

### Affected Resource(s)
The labels within the kubernetes nam

[2017-07-26 09:22] rolandkool commented on #34
One other thing that I noticed, the output of `terraform plan` show the following self_link:
```metadata.0.self_link:          "/api/v1/namespacesmyapp" => "<computed>"```
Notice the / missing between namespaces and myapp.
Not sure if this is related to the bug described above.

[2017-07-26 15:28] rolandkool commented on #34
Just tested another scenario where wrapped the module in another module so I could pass the remote_state vars to the module managing the kubernetes namespace. In that scenario, the module would be able to use just local vars like `var.application_name`
However, this seems to result in the same error message, which I did not expect.

[2017-07-26 16:03] rolandkool commented on #34
More testing revealed the same occurs with for example the `resource_quota` resource. And not just `labels` but also with setting the quotas themselves in the `spec` section.
Which leaves me to believe it may have something to do with the deepness of the structure where the variable occur.
`labels` and `limits.memory` are both nested. For `labels`, the variables are nested 2 layers deep (from `met

[2017-07-27 12:20] tdegiacinto opened #37 "Error when patching annotation with a "/""
When using annotation containing a "/", every terraform's run (except the first one which will create the resource), will try to update the resource and failed with the following error.
[code]
### Terraform Version
0.9.11

### Affected Resource(s)
- kubernetes_service
- I guess all resources using patch

### Terraform Configuration Files
[code]

### Debug Output

This is due to the fact we use jso

[2017-07-27 18:21] mingfang opened #38 "Do not hardcode AutomountServiceAccountToken"
Currently AutomountServiceAccountToken is hardcoded to false
https://github.com/terraform-providers/terraform-provider-kubernetes/search?utf8=✓&q=AutomountServiceAccountToken&type=

According to the Kubernetes documentation https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/, this value should either be computed or set by each pod.

[2017-07-27 18:41] radeksimko commented on #38
Hi @mingfang
this was an intention when implementing both Pod and RC to avoid spurious diffs.
Unfortunately there's no way to identify the default service account which gets created automatically as part of this process which makes diffing (between what the user has defined and what is the reality on the server) very tricky. That is why we decided to disable this functionality.

In fact I wish the

[2017-07-27 18:47] mingfang commented on #38
The automountServiceAccountToken flag is independent of the service account, default or explicit.
This simply tells Kubernetes to mount the token in a tmpfs inside the pod.
Without it I don't see how any pod can use service accounts.
The only reason to set it to false would be if you really paranoid and don't want a particular pod to receive any secrete tokens at all.

[2017-07-27 18:49] mingfang commented on #38
This was what I did to enable it on my fork.
https://github.com/mingfang/terraform-provider-kubernetes/commit/6fe600042527519796939bf8b511df63b2fc97f6

[2017-07-27 19:03] radeksimko commented on #38
I was just mentioning service account because it has a very similar problem which we had to work around, unlike in Pod and RC where we were able to just disable this behaviour.

There's certainly a way to specify service account when scheduling a pod or RC, see related docs at
https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/website/docs/r/pod.html.markdown#spec ->

[2017-07-27 19:08] mingfang commented on #38
I'm a bit confuse since you seem to talk about the automountServiceAccountToken and the service_account_name at the same time.
I believe there might be a problem with the default service_account_name.  But that has nothing to do with the automountServiceAccountToken flag.

Yes, I've been using my fork with automountServiceAccountToken = true and no  problems on my local kubernetes cluster.

[2017-07-27 19:10] mingfang commented on #38
Btw you can play with my fork easily here https://github.com/mingfang/docker-terraform

[2017-07-28 07:23] radeksimko commented on #38
Right, it is a bit confusing because there's a couple of actions enabled by that field, which is documented at https://kubernetes.io/docs/admin/service-accounts-admin/#service-account-admission-controller - so both service account association and volume mount are enabled by this single option.

I have not inspected the container and tried accessing the API, but here's a config I was able to succes

[2017-07-28 18:17] mingfang commented on #38
I see the problem with the pod resource you described above, but I was testing with the replication controller resource and am not seeing any mounts at all.
Actually that might be a bug in the replication controller resource.

[2017-08-01 15:46] radeksimko commented on #38
My point remains - it is possible to mimic the behaviour of `AutomountServiceAccountToken` by specifying the volume + mount, so I don't see it as "must have" feature when there's potential for troubles as described above. I'm happy to revisit this decision if/when K8S API allows us to identify default service account + volume + mounts which get generated via this option.

In that context do you mi

[2017-08-01 16:09] #38 closed

[2017-08-06 17:41] ashishth09 opened #41 "Terraform import command crash failures for resources with ids of the form x/y"
Hi @radeksimko ,

I am writing a resource where I need to compose the `id` of the resource from two other fields. I recalled `k8s` resource  does something like that for example -

https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/structures.go#L15-L18

It just clicked me that calls like below would lead to a crash if some one would do -

`terraform import

[2017-08-11 14:29] radeksimko commented on #34
Hi @rolandkool
I did poke around and I believe this is a core bug, which is mostly discussed in https://github.com/hashicorp/terraform/issues/5480 as you mentioned.

I will keep it open just because you provided a great repro case we can use to verify the bug was fixed, but the work has to be done in `hashicorp/terraform`, not in this repo.

Thanks.

[2017-08-15 08:44] #41 closed

[2017-08-16 09:24] kmalachowski opened #47 "Incorrect selector key in example usage of service"
Hi,
In website/docs/r/service.html.markdown there is incorrect selector key.
It should be app not App.

[code]

Thanks.

[2017-08-16 14:48] radeksimko commented on #47
Hi @kmalachowski
thanks for opening the issue and sorry for any confusion caused.

Do you mind explaining why is it incorrect or in what context is it incorrect? The example assumes pods with the given selector - would adding an example of matching `kubernetes_pod` help?

[2017-08-16 17:25] nstogner opened #48 "Feature Request: Job Resource"
If adding a "kubernetes_job" resource is in scope, I might have some time to help implement.

https://kubernetes.io/docs/api-reference/v1.6/#job-v1-batch

[2017-08-17 07:31] kmalachowski commented on #47
Radek,
Sorry it was a mental leap:)
It's not incorrect in terms of label's definition,
but It may be confusing for someone who follows kubernetes documentation, because they always use lower case letters.

In my case, k8 deployment is separated from terraform(it is part of CI/CD pipeline), and has "app=MyApp" selector accroding to kubernetes docs convetion.

In terraform, I've setup only gke_clust

[2017-08-17 07:54] radeksimko commented on #47
Understood, thanks for the clarification.

[2017-08-17 08:24] radeksimko commented on #48
Hi @nstogner
thanks for opening the issue.

I'm curious what benefits are you hoping to get from managing K8S jobs via Terraform? As far as I understand jobs are one-off containers that are gone once they return an exit code, which is likely a workload better suited for a different tool (to Terraform) which isn't stateful?

[2017-08-17 08:26] radeksimko commented on #20
I didn't realize until today the update was actually implemented in a way that it ignores most fields 🙈 I must have missed that during code review. That puts this issue into a significantly different light.

Relabelling as `bug` and will have a look at solution 🔜

[2017-08-17 12:04] nstogner commented on #48
You are right. I had a brainfart and was thinking cron functionality was
under Job, however it is under it's own CrobJob resource which is in alpha.

On Aug 17, 2017 4:24 AM, "Radek Simko" <notifications@github.com> wrote:

[2017-08-17 15:28] #20 closed

[2017-08-17 15:32] roidelapluie commented on #20
that was quick 🎉

[2017-08-17 15:58] radeksimko commented on #48
No problem at all.

As mentioned in the Readme, for reasons discussed in https://github.com/terraform-providers/terraform-provider-kubernetes/pull/1#issuecomment-307940033 there are currently no plans on supporting any API that's marked as alpha, beta or generally anything that's not `stable/v1`.

This may change in the future as we explore ways of dealing with breaking changes on the API's side a

[2017-08-17 15:58] #48 closed

[2017-08-18 08:55] #37 closed

[2017-08-18 09:05] radeksimko commented on #37
Hi @tdegiacinto,
thank you for reporting this bug.

Just to explain the context here - #40 fixed a bug preventing users from updating annotations with slashes. That was already shipped in the last release and makes such annotations work w/out issues. That said we don't support k8s internal annotations (parse-able URN with hostname `kubernetes.io`) for reasons mentioned in #50 which is also adding

[2017-08-20 21:32] jingweno commented on #3
Any updates on this?

[2017-08-21 15:10] calind opened #56 "Allow setting automountServiceAccountToken on replication controller"
Currently the the `kubernetes_replication_controller` creates the spec with `automountServiceAccountToken` set to `false`. This means that the service account credentials selected by `service_account_name` are not available in the container.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server

[2017-08-21 15:58] #47 closed

[2017-08-22 04:11] sl1pm4t commented on #56
@calind @radeksimko I have a fix for this in my fork, and will send over a PR.

[2017-08-22 05:15] radeksimko commented on #56
Hi @calind
see more detailed explanation of why we don't support this field and why it's hardcoded to `false` at https://github.com/terraform-providers/terraform-provider-kubernetes/issues/38#issuecomment-318450761

The service account does expose [`default_secret_name`](https://www.terraform.io/docs/providers/kubernetes/r/service_account.html#default_secret_name) in case you want to replicate the

[2017-08-23 00:34] sl1pm4t commented on #56
Hi @radeksimko - I disagree that we can't make the creation idempotent. As discussed in PR #57 if we ignore `volumes` / `volumeMounts` with a name matching `default-token-*` on read then there won't be a diff. I'm sure something similar could be done for a ServiceAccount.
Sure it's not perfectly elegant, and has a small gotcha, but I think it's a better option than not allowing automountServiceAcc

[2017-08-25 16:16] udangel-r7 opened #60 "Can not set internal annotations to specify load balancer ssl certs"
With the recent change of disallowing internal annotations it is no longer possible to setup internal annotations.

I want to use these internal annotations to provide SSL certificates/arn configuration for the load balancers.  Any idea for a workaround?

### Affected Resource(s)
- service

### Terraform Configuration Files
[code]

[2017-08-29 13:44] radeksimko commented on #56
Hi @sl1pm4t
it's unfortunately not that simple due to the way Token Controller works.

Basically the fix you're proposing only deals with situation where there's no `service_account` specified, so the default one is used, hence `default-token-` naming scheme is used.
The secret name (which is then used for the volume/mount name) is generated from service account name, see https://github.com/kubern

[2017-08-29 23:07] sl1pm4t commented on #56
Ok I see your point @radeksimko - thanks for taking the time to explain.

[2017-08-31 08:20] hashibot opened #61 "Support for Kubernetes Pod Init Containers (1.6+ feature)"
_This issue was originally opened by @llarsson as hashicorp/terraform#15970. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Since Kubernetes 1.6, support for `initContainer` has exited beta status:

https://kubernetes.io/docs/concepts/workloads/pods/init-containe

[2017-08-31 18:27] shadycuz opened #65 "Unable to use results from data provider Service"
### Terraform Version
Terraform v0.10.3

### Affected Resource(s)
Please list the resources as a list, for example:
- data Kubernetes service

### Terraform Configuration Files
[code]

### Expected Behavior
I should be able to use the hostname to create route53 alias record.

### Actual Behavior
[code]

[2017-08-31 22:04] shadycuz commented on #65
This works.... but it's silly

[code]

[2017-09-01 07:52] radeksimko commented on #65
Hi @shadycuz
sorry for the confusion.

This is the easiest way to do it:

[code]

I'll modify the example to make this clear.

[2017-09-01 13:11] shadycuz commented on #65
So silly of me... Thanks @radeksimko =)

While I have your attention, how do we know when AWS provider will be updated in terraform? I have open PR in AWSprovider and I'm waiting on a bug fix that is in aws-provider but has not made it to terraform 10.1.

I open an issue in main terraform asking them questions but got no reply.

Thanks,
Levi

[2017-09-01 15:57] #65 closed

[2017-09-01 16:26] shadycuz opened #67 "Service errors when optional param is not supplied and fails to set annotation"
### Terraform Version
`Terraform v0.10.3`

### Affected Resource(s)
kubernetes_service

### Terraform Configuration Files
[code]

### Expected Behavior
The service should be created as defined in the config.

### Actual Behavior
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`

### Important Factoids
Kubernetes does not require

[2017-09-01 16:29] shadycuz commented on #67
Also found related issue #60

[2017-09-01 19:19] radeksimko commented on #60
Hi @udangel-r7
I'm sorry for any inconvenience caused by this.

Allowing users to specify internal (`kubernetes.io`) annotations is something I plan to look into eventually, but it's non trivial for us to support. See full explanation at https://github.com/terraform-providers/terraform-provider-kubernetes/pull/50#issue-251016641

[2017-09-01 20:08] radeksimko commented on #67
Regarding the annotation issue - it's something we don't support (yet). It is something I plan to look into eventually, but it's non trivial for us to support. See my full explanation at https://github.com/terraform-providers/terraform-provider-kubernetes/pull/50#issue-251016641

For the other issue see fix in #69

[2017-09-05 19:50] fabsb commented on #60
Hi, I am also affected by this change. Is there any known workaround to configure SSL for the load balancers on AWS?

[2017-09-06 09:35] frosenberg commented on #3
@mingfang could you PR this so there is a change this gets into `master`

[2017-09-06 18:06] roidelapluie commented on #3
beta features that everyone needs/uses

[2017-09-06 19:52] frosenberg commented on #3
agreed. I don't think there is much value in a provider, if deployment,
ingress, etc are not supported (or rather won't be merged).

On Wed, Sep 6, 2017 at 8:06 PM Julien Pivotto <notifications@github.com>
wrote:

[2017-09-11 23:15] moserke opened #70 "Support for only v1 is very limiting"
Is there any way to remove the limitation on only resources for v1 APIs?  This is incredibly limiting in the kubernetes world as many of the core components of the system live for a long time on alpha & beta APIs.  Ingress is a great example of one that is not on v1.

Just wanted to spark conversation around what it would take to be able to support some of these other resources?  Or is this just a

[2017-09-12 08:10] radeksimko commented on #70
Hi @moserke
I acknowledge the fact that some providers/APIs have different conventions, specifically that they keep APIs in alpha/beta for a long time.

As I mentioned in https://github.com/terraform-providers/terraform-provider-kubernetes/issues/3#issuecomment-312872405, https://github.com/terraform-providers/terraform-provider-kubernetes/issues/14#issuecomment-311667368 and https://github.com/te

[2017-09-12 17:07] luispabon commented on #3
Agree with above. I understand the reasons not to support these, but deployments, cronjobs etc are features of kubernetes that absolutely everyone use on a daily basis. There's little incentive to use a provider that we have to constantly work around.

BC breaks are what semver is for.

[2017-09-20 18:27] podollb commented on #3
I also agree, since the majority of people using k8s are using Deployment (and many using CronJob), it would be extremely helpful if TF had support.

[2017-10-03 06:48] #67 closed

[2017-10-05 11:59] frankthelen commented on #60
The same problem exists when your LB shall not have an external IP, e.g., in development environments with only internal IPs. I'd be happy if this issue can be solved. Thank you.
[code]

[2017-10-06 15:57] puco opened #74 "PersistentVolumeClaim remains in Pending state"
When I try to create PV & PVC in Kubernetes with Terraform targeting a specific existing EBS volume the PVC never gets bound. It looks the PV created using Terraform does not create it in correct manner that it can be successfully bound.

### Terraform Version
Terraform v0.10.7

### Affected Resource(s)
- persistent_volume

### Terraform Configuration Files
[code]

### Debug Output
https://gist.gi

[2017-10-12 18:16] roman-cnd opened #75 "Error executing access token command when kubectl proxy is used"
Hi,

Is it possible to make provider work with `kubectl proxy`? So there is no headache of configuring permissions or dependencies on google sdk

[2017-10-16 13:52] bonifaido opened #76 "Feature Request: ConfigMap data source"
I think it would be beneficial to read ConfigMaps via Terraform, in my use case I would like to read the configmap that Calico provides: `calico-config` to be able to create new resources with Terraform based on the data in that ConfigMap.

[2017-10-20 00:43] sam-at-luther commented on #74
I'm facing a similar issue on Azure, but I believe it's related to the storage class name on the persistent volume that terraform creates (the empty string). Because the storage class names don't match the claim fails to bind to the PV.  Could this be your problem (the storage class names don't match)?

There doesn't seem to be a way to specify the storage class name on the PV, while the PVC resou

[2017-10-22 14:11] odedpriva opened #78 "missing envFrom to allow configure all key-value pairs in a ConfigMap as Pod environment variables"
Hi there,

Configure all key-value pairs in a ConfigMap as Pod environment variables was added in k8s 1.6 using `envFrom` configuration in container spec, it seems that this option is missing from terraform k8s provider.

this example was taken from [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/)
[code]

[2017-10-23 08:31] odedpriva opened #79 "kubernetes.io/dockercfg type as docker secret for image_pull_secrets is not working"
I set up a docker secret using :
[code]
trying to use it in pod resource returns an `ErrImagePull` error

[code]

when creating this secret manually using k8s api
[code]
and referencing this secret in pod resource worked like a charm.

What am I doing wrong ?

[code]

[2017-10-25 15:42] jsullivanLI commented on #60
Is there a previous version of Terraform where internal annotations are allowed?

[2017-10-26 05:07] shavo007 opened #81 "Cant create imagePullSecret"
Hi there,

### Terraform Version
Terraform v0.10.7

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes secret

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
* module.k8s_cluster_init.kubernetes_secret.regsecret: 1 error(s) occurred

[2017-10-26 12:50] pdecat commented on #78
Needs it too ;) I'm working on it now, PR incoming.

[2017-10-26 22:08] sl1pm4t commented on #14
Hi @holoGDM - I've just added support for the Ingress resource over in my fork:
https://github.com/sl1pm4t/terraform-provider-kubernetes/releases/tag/v1.0.2-custom

See example usage here:
https://github.com/sl1pm4t/terraform-provider-kubernetes/tree/custom/_examples/ingress

Obviously use with caution because this is not official and has no guarantees for backwards compatibility going forward.

[2017-10-28 21:26] henning commented on #3
I also came here because I wanted to create a deployment using Terraform...
Following the discussion I can somewhat understand that The terraform team doesn't want to go through great lenghts to support something the K8s team declares as beta.

I propose, if it is so useful for all of us using and relying on them so heavily, to check why the K8s team still considers them beta and what we can do to

[2017-10-30 09:45] pdecat commented on #60
Hi, same issue for me, as I need to specify the well known `pv.beta.kubernetes.io/gid` [annotation on my persistent volumes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#access-control).

I've read https://github.com/terraform-providers/terraform-provider-kubernetes/pull/50#issue-251016641 and understand that the root issue from the terraform point

[2017-10-31 04:33] ofsole opened #84 "Terraform try to delete the volume with namespace included when running terraform apply the second time for kubernetes_pod resource"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2017-11-03 01:00] rberlind opened #85 "Kubernetes Provider doc should mention need to use base64decode() in some cases"
If you use the Kubernetes Provider together with the Google Cloud Provider's google_container_cluster resource and you want to pass the static credentials returned as outputs from the GC provider, you need to use the base64decode() function around the outputs since they are base64-encoded.  I would like to see us add this to the [documentation](https://www.terraform.io/docs/providers/kubernetes/in

[2017-11-06 08:22] davidquarles commented on #70
Hey @radeksimko!  I thought I'd check back and see if you were able to sync with the Google provider team.  I've been building around the stuff in there recently and I've done a little bit of work on the provider itself, but can't really speak to what headaches their new versioning support has / hasn't created.  I am just about done building out our internal infrastructure stuff around GCP, though

[2017-11-07 06:28] ofsole commented on #84
After updating kubernetes server from 1.6.0 to 1.6.7, the issue gone.

[2017-11-08 19:29] jonmoter commented on #3
I encourage you to revisit this policy. Beta objects like Deployments and DaemonSets are used in every production grade Kubernetes cluster that I've come across. If they're not supported in Terraform, it means I can't use Terraform to manage my Kubernetes resources.

I encourage you to think of terms like Alpha or Beta in context of the particular software project. Terraform itself hasn't reached

[2017-11-08 19:39] mahmoudian1 opened #86 "kubernetes_job"
Hi team,

Currently, terraform kubernetes provider support 'kubernetes_pod' but it doesn't support kubernetes_job. It would be nice to have kubernetes_job as well.

thanks.

[2017-11-09 08:01] arekkas commented on #14
Since this isn't currently possible, how would I go about adding an HTTPS proxy in front of the LoadBalancer using the GCP provider?

As far as I understand, `type="LoadBalancer"` creates a GCP Backend Service with a frontend that listens on randomly assigned IP Address and the GKE backend. That works nicely, however, it's not possible to link a GCP HTTPS Proxy with that IP Address, as I'm only ab

[2017-11-09 11:10] zimbatm commented on #3
Just to insist a little bit more, I think that the policy of only maintaining stable APIs made sense while all the plugins where released along the terraform source code. In that case, hot-fixing a broken API meant cutting a whole new terraform release and impacting people who might not even use that particular provider.

Now that the plugins have been extracted from the Terraform code based it mi

[2017-11-10 17:33] rochdev opened #87 "kubernetes_secret should allow the `.` character in the name"
The `.` character is allowed by Kubernetes and we use it for many of our existing secrets.

[2017-11-10 18:15] sl1pm4t commented on #87
Does wrapping the secret key in quotes help?

[2017-11-10 19:12] rochdev commented on #87
It doesn't. Replacing the `.` with `-` resolves the issue but that means we would have to rename all our secrets.

[2017-11-13 20:56] lemaral commented on #48
Hi
if the job is idempotent, it can be (re)executed as one-time provisioning for things like database initialisation.
Thanks

[2017-11-16 06:12] radeksimko commented on #70
@davidquarles The current way of solving this in GCP provider is expressed here:

https://github.com/terraform-providers/terraform-provider-google/blob/48192d62dc3464e67c0547f32b7bbd9097e39b42/google/resource_compute_firewall.go#L18-L24

It's based on whitelisting fields per API version and choosing the API based on the field.

I only briefly discussed this with one GCP provider maintainer and I h

[2017-11-16 12:59] radeksimko commented on #86
Hi @mahmoudian1
I'm curious what benefits are you hoping to get from managing K8S jobs via Terraform? As far as I understand jobs are one-off containers that are gone once they return an exit code, which is likely a workload better suited for a different tool (to Terraform) which isn't stateful?

[2017-11-16 22:55] ccope commented on #56
@radeksimko do you have a clear path forward after the discussion on https://github.com/kubernetes/kubernetes/issues/51328 ? I just spent the better part of an hour figuring out why the service account secret wasn't getting populated in my container :-)

[2017-11-17 08:09] radeksimko commented on #56
@ccope The plan is to add validation to prevent people from using `kubernetes_secret` to manage service tokens and then add filtering based on type of the secret.

[2017-11-20 23:22] ccope commented on #74
I just hit the same problem on Google, and agree with @sam-at-luther's diagnosis.

[2017-11-21 05:19] dionjwa commented on #74
Agree with @sam-at-luther
I'm trying to use minikube with persistent local volumes, and hitting the same issue, where the volume claim is stuck in a pending state.

There are workarounds and solutions in these issues, but they only work if you can make the changes in kubernetes config, but since terraform doesn't allow you to specify the storage class on the volume, they won't work.

https://githu

[2017-11-21 14:19] chooper commented on #85
+1 to this - I just ran into this myself and happened to stumble upon this GH issue while googling

[2017-11-22 00:19] pycaster commented on #81
Any updates on this? I ran into the same issue.

[2017-11-22 01:54] sl1pm4t commented on #81
Hi @shavo007 + @pycaster
As far as I know, secrets of type `kubernetes.io/dockercfg` can only contain a single data item named `.dockercfg`.

As [documented](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#understanding-your-secret) - the `kubectl` tool is taking the individual docker auth params (server, user, email, password) and constructing the dockercfg j

[2017-11-22 02:27] sl1pm4t commented on #87
@rochdev could you paste an example config that isn't working?

I'm able to create a secret with `.` in the name:

[code]

[code]

However, I'm not able to create a secret with a `.` at the start or end of the name, but that's the same when I try create via `kubectl`:

[code]

[2017-11-22 02:38] sl1pm4t commented on #86
@radeksimko - I've also got some potential use cases for the `job` resource with Terraform. Like running a schema upgrade before updating a workload.
I'd say the main argument for adding to Terraform is so people have a consistent interface / configuration format for Kubernetes.

[2017-11-22 11:14] plispe commented on #74
I have the same issue. But I don't understand, why terraform doesn't allow to specify storage class name on the persistent volume. Is there any reason for that?

[2017-11-22 12:02] rochdev commented on #87
@sl1pm4t Just tried your exact example and cannot even get a plan working.

[code]

When using the CLI it works:

[code]

I am using Terraform `v0.11.0` with provider.kubernetes `v1.0.1`

I don't know if it would make a difference but the cluster is using Kubernetes `1.7.8-gke.0`.

[2017-11-22 16:21] mahmoudian1 commented on #86
@radeksimko I agree with @sl1pm4t, the job has it's own use case within terraform. Job will be used for running the batch job that runs and end. It would be nice to use terraform for provisioning pod and jobs in the same automation pipeline, instead of using different tool just to achieve runing jobs on Kubernetes.

[2017-11-22 16:49] mahmoudian1 opened #91 "kubernetes_pod timeout"
Hi there,

It would be nice if we can control the timeout in creation and especially destroy for some large images that takes to pull more than 5 minutes.

Error on create:

error on destroy:

[2017-11-22 18:53] dionjwa commented on #74
@plispe I looked at the code, it's just a matter of adding the entry (which I would do if my go coding was up to it). Terraform explicitly maps parameters to the underlying drivers, so it cannot simply pass parameters it doesn't explicitly handle.

[2017-11-22 21:35] plispe commented on #74
@dionjwa Thank you, I will try to make a pull request with the solution. I wrote already the code, but now I am trying to find how I should test the updated provider.

[2017-11-23 02:00] ccope commented on #74
plispe There is already a pull request with a fix: https://github.com/terraform-providers/terraform-provider-kubernetes/pull/72

[2017-11-23 02:31] pycaster commented on #81
@sl1pm4t . Just the right recipe. Works great. Thanks.

[2017-11-23 07:34] plispe commented on #74
@ccope ok I will wait for merge and release. Thank you.

[2017-11-26 07:18] radeksimko commented on #86
I don't have strong objections against adding it as long as it doesn't disappear from the API after finishing.

In other words as long as K8S keeps track of the job (even if it's in "completed/finished" state) then it's 👌 . We certainly don't want Terraform to be (ab)used as a scheduler, but rather a proxy to a scheduler. See more explanation I provided for a counter-example in the Packet provider

[2017-11-27 15:52] drzero42 opened #92 "Contexts from kubectl being used, instead of the configured provider settings."
### Terraform Version
- Terraform v0.11.0
- provider.kubernetes v1.0.0

### Affected Resource(s)
- kubernetes_config_map
- kubernetes_secret

I have setup a kubernetes cluster with the google_container_cluster resource and use the outputs to configure the kubernetes provider to add some configmaps and secrets to the newly created cluster. I have several different contexts setup for my kubectl, whi

[2017-11-27 19:21] sl1pm4t commented on #86
I found an implementation of the `kubernetes_job` resource in one of the provider forks a few weeks back.
I've merged it into my fork, but haven't got around to testing it yet.
Once I've tested it, I'll submit a PR.

[2017-11-27 21:22] sl1pm4t commented on #92
Hey @drzero42 can you paste in your `kubernetes_provider` definition?

[2017-11-28 05:58] drzero42 commented on #92
@sl1pm4t Sure thing!
It is packaged as a module. I created a gist with everything in the module: https://gist.github.com/drzero42/31a1409a30a2d6288f6c655f4947ed15

[2017-11-29 22:39] sl1pm4t commented on #92
Ok @drzero42  the provider definition looks fine to me. I also have many kubectl contexts configured, but I don't have any issues with the kubernetes providers using the wrong config.

Some things to try / check:

* Set the provider `load_config_file` value to false.

* Check if you have any of the following environment variables set that start with `KUBE_`, e.g.
  * `KUBE_HOST`
  * `KUBE_CTX`
  *

[2017-11-30 10:08] drzero42 commented on #92
Okay, `load_config_file = false` makes a difference, which has given me a clue as to what is actually going on. I think this might be related to the way Terraform works. My specific situation is that I have a TF state with two modules, one that sets up a GKE cluster (with the Google provider), and one that adds some configmaps and secrets to it (with the Kubernetes provider). I did some changes to

[2017-11-30 10:08] #92 closed

[2017-12-02 20:50] sagikazarmark opened #93 "Error when annotation contains a slash"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.0
+ provider.aws v0.1.4
+ provider.kubernetes v1.0.1
+ provider.null v1.0.0
+ provider.random v1.1.0

### Affected Resource(s)
Pl

[2017-12-02 21:08] rberlind opened #94 "Unable to create service_account on OpenShift 3.7 due to 2 default secrets"
### Terraform Version

0.11.0

### Affected Resource(s)

- kubernetes_service_account
- kubernetes_namespace

### Terraform Configuration Files

[code]

### Expected Behavior

The Kubernetes Provider should have created both a namespace and a service account in that namespace on OpenShift without errors.

Note that the namespace and service account actually are created despite the error and show u

[2017-12-04 12:24] matthiaskubik opened #95 "persistent volume claim doesn't recognize storage_class_name"
Hi there,

### Terraform Version
Terraform v0.9.8

### Affected Resource(s)
- kubernetes_persistent_volume_claim
  - storage_class_volume

### Terraform Configuration Files
[code]

### Debug Output
terraform plan
1 error(s) occurred:

* kubernetes_persistent_volume_claim.example: spec.0: invalid or unknown key: storage_class_name

### Expected Behavior
storage_class_name should be accepted as docu

[2017-12-07 02:17] kbruner opened #96 "Feature Request: max_retries option for provider block"
Requesting support for a `max_retries` option for the kubernetes provider.

Sample use case:  When creating a cluster via terraform, I also want to populate some ConfigMaps with terraform outputs.  It does take a few minutes for the kubernetes API to come up, so being able to increase the retry limit so the resources can live in the same `.tf` files as the cluster infrastructure and succeed on the

[2017-12-08 21:14] omame opened #97 "Persistent volume can't find GCE disks"
### Terraform Version
Terraform v0.11.0
+ provider.google v1.3.0
+ provider.kubernetes v1.0.1

### Affected Resource(s)
- kubernetes_persistent_volume

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/omame/29d5c4b1332ea31aef6ed4c125db23ef

### Panic Output
N/A.

### Expected Behavior
The persistent volume finds the Google compute disk and Terraform moves to the c

[2017-12-11 20:35] arekkas opened #98 "Updating environment variables has no effect because pod is not recreated"
I am using terraform and this provider to deploy images

### Terraform Version

Terraform v0.11.1

### Affected Resource(s)

- kubernetes_pod

### Terraform Configuration Files

[code]

Running `terraform plan && terraform apply` works fine. Then, changing `value = "bar"` to `value = "baz"` and then applying `terraform plan` yields the following plan:

[code]

Applying this plan with `terraform pl

[2017-12-16 01:48] VJftw commented on #3
http://blog.kubernetes.io/2017/12/kubernetes-19-workloads-expanded-ecosystem.html

[2017-12-16 21:12] cemo opened #100 "Workloads API support (DaemonSet, Deployment and StatefulSet)"
Since Kubernetes 1.9 Workloads API is GA. Supporting them would be unbelievable.

PS:

I am not sure why kubernetes provider in the first place has been developed but now I think that it is best and clearest way to configure Kubernetes resources.  Configuring and maintaining Helm is tedious and error prone. People are looking for [alternative] ways and I think that Terraform is the best option rig

[2017-12-18 01:08] brockpalen opened #102 "Cannot create volume claim against NFS volume due to storageClassName"
### Terraform Version

V0.11.1

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_persistent_volume_claim

### Terraform Configuration Files
[code]

### Expected Behavior
Should be able to create a PVC the same as on
https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pvc.yaml

[code]

### Actual Behavior
Cannot pass empty string for sto

[2017-12-18 02:13] nickschuch commented on #100
Started working on a PR here https://github.com/terraform-providers/terraform-provider-kubernetes/pull/101

[2017-12-19 23:44] sl1pm4t commented on #81
@pycaster + @shavo007 can this issue be closed?

[2017-12-25 18:42] pycaster commented on #81
@sl1pm4t . Please do.

[2017-12-26 00:10] shavo007 commented on #81
Haven't had a chance to test it out. If it works, all good.

[2017-12-26 00:10] #81 closed

[2017-12-27 02:08] kbruner commented on #30
RBAC is GA in v1.8.  Any word on when this will be supported?  http://blog.kubernetes.io/2017/10/using-rbac-generally-available-18.html

[2018-01-02 07:23] radeksimko commented on #91
Hey @mahmoudian1
totally agreed, we can add customizable timeouts for this.

[2018-01-02 07:32] radeksimko commented on #102
Hi @brockpalen
thanks for opening the issue.

It looks like it's a duplicate of https://github.com/terraform-providers/terraform-provider-kubernetes/issues/95 - do you mind me closing this issue in favour of #95 ?

[2018-01-02 14:19] brockpalen commented on #102
I think this might be rooted in the same problem, but that issue is for storage_class_name  not being recognized, and that works fine for me on the current version of terraform.

So they feel like different things to verify/have test case for,

eg:

[code]

Works just fine, which to me (I'm new to terraform and kubernetes)  looks like issue #95 works fine now.

[2018-01-05 09:43] debovema commented on #3
Hi @radeksimko,

Does Hashicorp have a roadmap to integrate this new v1 objects ?

Best regards

[2018-01-05 16:19] bobbytables opened #104 "Use KUBECONFIG environment variable if present"
Right now, this provider will use the config stored at `/.kube/kubeconfig` exclusively unless otherwise specified in the provider config HCL.

This is great but when working with multiple kubernetes clusters / configs, it would be nice if it honored `KUBECONFIG`.

I just ran `apply` and it created it against my minikube instance (my default kubernetes config file) instead of using my remote cluste

[2018-01-08 18:57] Stelminator commented on #30
https://github.com/terraform-providers/terraform-provider-kubernetes/pull/73 looks to have part of it.

[2018-01-10 21:54] bobbytables commented on #60
This is pretty annoying, why enforce this at all? Doesn't kubernetes API prevent this?

[2018-01-12 15:35] pdecat opened #106 "kubernetes_replication_controller's template should support metadata in addition to spec"
Hi,

the current implementation of the `kubernetes_replication_controller` resource defines its `template` field directly as a PodSpec:

[code]

cf. https://github.com/terraform-providers/terraform-provider-kubernetes/blob/v1.0.1/kubernetes/resource_kubernetes_replication_controller.go#L60

However, the specification of the kubernetes ReplicationController (and all the other workloads with templat

[2018-01-17 17:24] niclic commented on #104
The [docs](https://www.terraform.io/docs/providers/kubernetes/index.html#config_path) suggest that it will honor `KUBECONFIG`, using the default location if no variable is set.

I just experienced an issue where it appears that the provider may not support multiple config files in a colon separated list. I'm sure this is not the case and am still investigating. Just wondering if this is what you a

[2018-01-19 09:29] paurullan commented on #86
The main interest in having jobs is that after that is straight forward having cron jobs:
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

Having cron jobs in terraform is desirable because it will help to keep track of your full deploy architecture.

[2018-01-21 18:27] majelbstoat opened #108 "Crash when label is specified as a boolean"
### Terraform Version
Relevant versions:

terraform [Terraform v0.11.2]
* provider.kubernetes: version = "~> 1.0"

### Affected Resource(s)
At a minimum:
- kubernetes_replication_controller
- kubernetes_service

But probably others as well, and this may well be a bug in Terraform core.

### Terraform Configuration Files
Partial minimal repro, to give you the idea:

[code]

Would guess that this ca

[2018-01-24 11:17] ctrombet commented on #74
Hi all

any updates on this issue?

[2018-01-29 23:17] peckeltw commented on #79
@radeksimko  please try:
`type = "kubernetes.io/dockerconfigjson"`
instead of
`type = "kubernetes.io/dockercfg"`

Terraform's [documentation](https://www.terraform.io/docs/providers/kubernetes/r/secret.html) seems to be wrong, but please have a look at Kubernetes' [documentation](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod).

[2018-01-31 02:33] burdiyan opened #109 "Proposal: Introduce raw manifest resource"
It would be cool if this provider would support creating any resource valid for the current api server just directly in YAML. So that resources that are not natively supported by the provider can still be created using YAML (the fact of having <<HEREDOC for HCL properties is super useful for this) using the behavior similar to `kubectl apply -f`.

[2018-02-01 13:39] pdecat opened #110 "Feature request: add kubernetes_network_policy resource"
Please add support for Kubernetes NetworkPolicy resource.

### Affected Resource

- kubernetes_network_policy

### Terraform Configuration Files

[code]

### References

- API reference: https://kubernetes.io/docs/api-reference/v1.9/#networkpolicy-v1-networking

[2018-02-03 06:38] ericchiang commented on #109
I've been working on a project that does exactly this. https://github.com/ericchiang/terraform-provider-k8s

Would love feedback.

[2018-02-03 23:12] burdiyan commented on #109
Cool! Will take a look at it soon. I believe it still would be great to have that in the official Kubernetes provider.

Have you thought about contributing that back to this provider @ericchiang?

[2018-02-05 16:55] ericchiang commented on #109
I didn't plan to. Would be happy to review PRs from anyone who wanted to add the feature to this one.

[2018-02-06 19:35] acobaugh commented on #93
Just hit this as well trying to set `external-dns.alpha.kubernetes.io/hostname` (without #50 applied) on a service. I thought #40 was supposed to fix this?

[2018-02-07 14:25] victorsmirnov commented on #56
[How should I put 'secrets' to my POD the right way?](https://stackoverflow.com/questions/48666147/issues-with-kubernetes-api-secrets-not-mounted-in-the-pod-when-using-terraform-k)

I suggest to put an example to the documentation with simple explanation how this should be done. May be I'm missing something but after reading all these discussions I still do not understand how I should do this.

[2018-02-07 21:30] perryao commented on #3
@radeksimko is it worth @mingfang opening a PR now?

[2018-02-08 15:13] perryao commented on #3
for what it's worth, I'm running with https://github.com/mcuadros/terraform-provider-helm. Makes for a nice fit especially if you want to use https://github.com/kubernetes/charts.

[2018-02-09 16:39] pdecat commented on #110
Started work on this.

Note: supporting egress and policyTypes would require updating kubernetes/client-go and kubernetes/api dependencies to 1.8+ compatible versions.

[2018-02-12 09:52] mo-mughrabi commented on #86
+1

[2018-02-12 14:43] radeksimko commented on #109
Hi folks 👋
thanks for raising this question.

Supporting YAML/JSON was considered before and during the initial implementation of this provider and we decided _not_ to do it. For that reason I'm going to close this issue as we have no intentions of implementing it nor accepting PRs which accept raw configs in JSON/YAML.

Feel free to use @ericchiang's provider if you wish.

Full discussion: https:

[2018-02-12 14:43] #109 closed

[2018-02-12 19:05] pdecat opened #115 "Adding labels/annotations to resources or data to config maps/secrets when those were empty fails"
Adding labels to a resource that didn't have any fails with a `jsonpatch add operation does not apply: doc is missing path` error message.

### Terraform Version

[code]

Note: the exact same issue happens from master.

### Affected Resource(s)

- All resources with metadata

### Terraform Configuration Files

1. Resource without labels:

[code]

2. Resource with labels:

[code]

### Expected Beha

[2018-02-12 21:23] pdecat commented on #115
Also affects annotations which use the same `diffStringMap()` function.

[2018-02-12 22:18] pdecat commented on #115
Also affects empty config maps with no data which use the same `diffStringMap()` function.

[2018-02-12 22:27] pdecat commented on #115
And finally, it also affects secrets with no data which use the same `diffStringMap()` function.

[2018-02-12 22:46] tsloughter commented on #3
Are there more than 1 fork with support for deployments added? I plan to try @mingfang 's fork, curious if there are any others or if people have rallied behind a single fork for kubernetes support.

[2018-02-14 20:29] jpza commented on #3
The official policy should be to offer providers for whatever is in widespread use for the terraform community

[2018-02-15 15:03] mishak87 commented on #70
Would not provider version lock solve this issue?
If I lock provider and I'm aware of issues that risks applying alpha/beta resource to different kubernetes version has, it should be no problem.

[2018-02-15 20:42] MatthewHartstonge commented on #70
@mishak87 are thinking of in the terraform provider configuration, hiding it behind a channel flag such as:

[code]

As something like that would be faaaannnnntasstic and help keep things stable, for those that require it.

[2018-02-16 11:24] moritzheiber commented on #56
A short term remedy for this issue would be to have a data source read the secret name of the service account, which you could then use to mount the token into your pod. It's cumbersome and I'd prefer a better solution, but for now this is what we're doing using a combination of `kubectl` and `terraform` with a variable :frowning_face:

[2018-02-16 12:44] mishak87 commented on #70
@MatthewHartstonge I would be for no api channel and simply supporting all resources that latest currently supported kubernetes api supports.

| provider | supports k8s up to | alpha/beta resources | notes |
| --- | --- | --- | --- |
| 1.1.0 | 1.6.* | cronjob_v2_alpha1 deamonset_v1_beta1 | *note that there is no daemonset_v1_alpha* |
| 1.2.0 | 1.7.* | cronjob_v2_alpha1 daemonset_v1_beta1 | *note t

[2018-02-20 01:59] eflatdiminished commented on #93
Having the same issue with:
    Terraform v0.11.3
      + provider.aws v1.9.0
      + provider.null v1.0.0
when trying to create tags for an AWS VPC. Here is the message:
`Error parsing: expected '/' for comment`

[2018-02-22 00:32] acobaugh commented on #3
+1 for @sl1pm4t 's fork. It seems to be the most complete out of the ones I've looked at. I've been using daemonsets and deployments in some testing of my own.

[2018-02-26 16:34] Phylu commented on #60
Actually there is a good list regarding the aws specific annotations here: https://gist.github.com/mgoodness/1a2926f3b02d8e8149c224d25cc57dc1

I think a whitelist would be the best solution currently.

[2018-02-28 02:05] sl1pm4t commented on #3
FYI @bassrock, @acobaugh
I've opened Issues and PR on my fork too, so if you find a feature is missing, feel free to open an issue over [there](https://github.com/sl1pm4t/terraform-provider-kubernetes).
Hopefully one day we could converge back on this official provider, but I'm not hopeful it will be soon.
Aside from supporting the extra resources (Deployment, DaemonSet, Ingress etc), my fork remo

[2018-02-28 02:52] bassrock commented on #3
@sl1pm4t nice!! Yea I started using it on my production environment last week. I was working on a switch to Google Cloud and kubernetes from AWS ECS and wanted to keep my stuff in terraform. I needed the deployments feature and ingress features. Thanks for your hardwork!!

[2018-03-01 11:46] nocon opened #131 "Feature Request: add reclaimPolicy to kubernetes_storage_class resource"
Please add reclaimPolicy field to the storage class resource. Documented [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#storageclass-v1-storage).

[2018-03-02 17:55] radeksimko commented on #93
Hi folks,
thanks for reporting this bug and sorry for the delay in processing it!

Based on the error message mentioned

I believe this was fixed by https://github.com/terraform-providers/terraform-provider-kubernetes/pull/116 which will be part of the next release coming out 🔜. For that reason I'm going to close it.

-----

@eflatdiminished This looks like an issue related to the [AWS provider](g

[2018-03-02 17:55] #93 closed

[2018-03-02 18:02] radeksimko commented on #74
Hi folks,
thanks for the report and sorry for the delay in processing this.

The good news is that #111 which is fixing this bug was merged and will be part of the upcoming release which should come out 🔜.

Also #125 has improved the event log polling which should hopefully reduce any time needed to debug such issue.

[2018-03-02 18:02] #74 closed

[2018-03-02 18:05] radeksimko commented on #115
Fixed via #116

Thanks for reporting this bug and sending the patch @pdecat ! 👍

[2018-03-02 18:05] #115 closed

[2018-03-03 06:43] WhileLoop opened #134 "kubernetes_service target_port doesn't accept name"
The documentation says target_port can be either port number as int or port name but I am getting the following ```Error: kubernetes_service.hello: spec.0.port.0.target_port: cannot parse '' as int: strconv.ParseInt: parsing "http-server": invalid syntax```

[code]

[2018-03-05 20:13] #108 closed

[2018-03-06 20:51] EdoBarroso commented on #3
Nice work @sl1pm4t!
Hope this provider can get merged soon into the official one, as everybody is now working with deployments instead of pods/replicationControllers

[2018-03-09 07:54] bitbrain commented on #3
We also do require this! NEED!

[2018-03-12 18:23] tmaier opened #141 "Add generic kubernetes resource"
it would be great if there would be a generic kubernetes resource, which does "$ kubectl apply" on whatever json or yaml file given.

This would greatly simplify the support for not officially supported kubernetes objects and it would allow to keep the yaml format of kubernetes whenever it makes sense (e.g. the object to create is something taken from a readme, something not worth to be converted

[2018-03-12 19:03] shaneramey commented on #141
FYI there's a [alternative Terraform provider for Kubernetes](https://github.com/ericchiang/terraform-provider-k8s) that allows for configuration via raw manifests.

[2018-03-12 21:03] joshperry commented on #141
We need something like this as well since we have started codifying our operations domain knowledge in automation. However, what I think would be more useful is to have a resource definition format that would allow this provider to support any resource and properties with the full change-management fidelity that Terraform allows.

You seem to lose a large number of capabilities with the manifest-d

[2018-03-13 10:54] tmaier commented on #141
Related issue: #3

Another pro arguments:
- This allows to support alpha and beta resources of kubernetes
- Less maintenance necessary at kubernetes provider

[2018-03-13 11:57] dominik-lekse commented on #141
While working with the Terraform Kubernetes Provider to manage a cluster, I also thought about having a generic resource. In particular, I was surprised that one of the most important resource such as the `Deployment` is not yet supported.

The alternative [terraform-provider-k8s](https://github.com/ericchiang/terraform-provider-k8s) mentioned by @shaneramey has the disadvantage that it relies on

[2018-03-13 12:20] tmaier commented on #141
For an MVP, I could also live with a small dependency to kubectl to be available on the system, as long as I can provide the cluster configuration via the provider.

[2018-03-14 12:19] radeksimko commented on #141
Hi folks 👋
thanks for raising this question.

Supporting YAML/JSON was considered before (the very first proposal was exactly that) and during the initial implementation of this provider and we decided _not_ to do it. For that reason I'm going to close this issue as we have no intentions of implementing it nor accepting PRs which accept raw configs in JSON/YAML.

Feel free to use @ericchiang's pro

[2018-03-14 12:19] #141 closed

[2018-03-14 17:01] Ikradex opened #142 "Allow config_path to be computed"
I have a resource from a provider that creates a K8s cluster and another that downloads it's kube config. I can't seem to configure the provider with a `config_path` that will be computed at a later time ie. after the cluster is created.

### Terraform Version
v0.11.3

### Affected Resource(s)
- provider kubernetes

### Terraform Configuration Files
I've simplified the example below but this is th

[2018-03-14 22:53] synhershko commented on #85
+1, also helped me!

[2018-03-15 02:43] rberlind commented on #85
Glad this helped you guys, @chooper and @synhershko

[2018-03-15 09:40] mikhail-yarosh commented on #3
Absolutely. Will be a very useful feature.

[2018-03-16 00:20] hashibot[bot] opened #143 "kubernetes_persistent_volume not evaluating external data under spec.capacity"
_This issue was originally opened by @starkers as hashicorp/terraform#17598. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Expected Behavior
Correctly get the size of the volume from exp

[2018-03-16 11:21] synhershko opened #144 "Allow kubernetes provider to take dependencies on other providers (e.g. Google for container engine)"
Using tf 0.11.4, and having the following configuration:

[code]

When running `terraform plan / apply` The Kubernetes resources are being checked and hitting timeout when the cluster was terminated not through Terraform, instead of realising the cluster needs to be recreated we hit the following error:

[code]

Adding `depends_on` to all individual resources doesn't help either.

It would be grea

[2018-03-16 14:05] synhershko opened #145 "kubernetes_secret doesn't support .dockercfg: base64xxxx values"
I'm trying to pass a base64 encoded secret to `kubernetes_secret` and failing with the following error message (seems like it accepts only a map?)

[code]

Terraform bits:

[code]

Reference: https://gitlab.com/gitlab-org/gitlab-ce/issues/40951

[2018-03-16 14:13] dploeger opened #146 "FR: Support mount_options for PersistentVolumes"
### Terraform Version
v0.11.4

### Affected Resource(s)
- kubernetes_persistent_volume

### Expected Behavior
Kubernetes 1.9 supports the option mount_options in their [PersistentVolumeSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#persistentvolumespec-v1-core), where the operator can add specific options, that should be used when mounting the volume. This option is curr

[2018-03-18 15:14] allxone opened #149 "Feature Request: support container extended resources like nvidia/gpu"
**Terraform Version**
v0.11.4

**Affected Resource(s)**

- kubernetes_pod

**Expected Behavior**
Kubernetes version 1.8 introduced Extended Resources, required for example to request allocation of Nvidia GPUs to containers. This option is currently missing from the terraform kubernetes provider.

[code]

**References**
- [Kubernetes: managing Compute Resources for Containers](https://kubernetes.io

[2018-03-21 09:34] dominik-lekse commented on #141
The idea of code generation sounds promising especially in cases of well defined/specified APIs such as the K8s API. Is there a more general approach Hashicorp is currently working on such as resource/provider code generation from Swagger API definitions etc? From such an approach I am sure more providers could benefit.

Also in the light of the counter arguments, in my opinion it is valuable for

[2018-03-23 01:51] worrel commented on #98
Note that the pod doesn't get recreated if you change the env var name either - or even if you re-order the env vars.  It does however respond to a change in the # of env vars - so adding an extra dummy variable will trigger recreation.  That's not a great solution though.

FWIW I'm resorting to `terraform taint <pod-with-changed-env>` until this is resolved.

[2018-03-23 09:52] radeksimko commented on #95
This was addressed in #111 which is part of the latest release (`1.1.0`). Thanks for the report.

[2018-03-23 09:52] #95 closed

[2018-03-26 14:01] starkers commented on #143
I'm happy to answer any questions or provide more details if I can help

[2018-03-27 14:33] pdecat commented on #106
Hi @radeksimko, would a PR be accepted on this matter?

If so, how should this breaking change be handled?
In particular, is backward compatibility with existing configuration a requirement?

[2018-03-29 08:58] pdecat commented on #143
Hi @starkers, here are some leads:

What does `echo data.terraform_remote_state.kube-resources.drone_size | terraform console` outputs?

Have you tried running it with `TF_LOG=trace` ?

[2018-03-29 19:47] shraddha-jain commented on #85
+1, it helped me too. Thanks for sharing.

[2018-03-30 17:20] hashibot[bot] opened #150 "Feature request: Kubernetes provider manifests from YAML"
_This issue was originally opened by @okgolove as hashicorp/terraform#17741. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

### Debug Output

### Crash Output

### Expected Behavior

I want to use

[2018-04-02 00:21] bitglue commented on #60
Further broken use cases include assigning an ELB to a service: https://gist.github.com/mgoodness/1a2926f3b02d8e8149c224d25cc57dc1

And allowing syscalls in pods: https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#setting-sysctls-for-a-pod

[2018-04-06 14:47] appilon commented on #87
The issue arises from the metadata validation we apply.

https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/validators.go#L32-L42

We are performing DNS label validation (which only permits alphanum and dashes). However the docs for k8s state:
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

Meaning the DNS label is too strict

[2018-04-07 13:32] captn3m0 commented on #150
This exists as a third-party provider: https://github.com/ericchiang/terraform-provider-k8s

[2018-04-08 22:50] stigok commented on #145
Same problem here, trying to configure docker repository credentials with
[code]

Plan fails after timeout with error
[code]

The pod creation will block due to failed authentication, while feedback about the failed secret creation is not output until after the plan has timed out (5 minutes) and failed.

[2018-04-09 07:05] radeksimko commented on #150
Hi @okgolove 👋
thanks for raising this question.

Supporting YAML/JSON was considered before (the very first proposal of K8S provider was exactly that) and during the initial implementation of this provider and we decided _not_ to do it. For that reason I'm going to close this issue as we have no intentions of implementing it nor accepting PRs which accept raw configs in JSON/YAML.

Feel free to u

[2018-04-09 07:05] #150 closed

[2018-04-09 13:12] #91 closed

[2018-04-10 22:02] reidab opened #153 "Secret data values not masked in execution plan when fields are moved/renamed"
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_secret

### Expected Behavior

I'd expect secret field values to be masked as `<sensitive>` when previewing remove operations, since they're masked everywhere else.

### Actual Behavior

Field values are revealed in preview output when they are removed from the data map.

### Step

[2018-04-11 19:42] appilon commented on #145
With some debugging I think I've proved this error message is actually coming from Kubernetes and not this provider or upstream (terraform).
[code]
The error is creating the secret (the response came from Kubernetes). I'm currently digging through kubernetes source, but with type `dockercfg` and `dockerconfigjson` (especially the latter) I don't think you are supposed to be providing base64 encode

[2018-04-11 21:15] stigok commented on #145
The Secrets documentation says to encode it in the JSON/YAML file when you create it: https://kubernetes.io/docs/concepts/containers/images/#bypassing-kubectl-create-secrets

[2018-04-11 22:05] appilon commented on #145
Hmm those docs only exist for version 1.8+ I will double down on the source to see how it knows when its encoded or not, I ran this against my GKE cluster version 1.8.8 however if the error came from a validator (which comes from the k8s client) then maybe we just need to bump up the version of the k8s client in the provider codebase

[2018-04-11 22:11] sl1pm4t commented on #145
Hey @stigok @appilon @synhershko  you might find this info useful:
https://github.com/terraform-providers/terraform-provider-kubernetes/issues/81#issuecomment-346219210

[2018-04-13 14:55] appilon commented on #145
UPDATE:
Here is the validation on the master branch (granted kubernetes source structure is super confusing so maybe this isn't the right spot?!)

https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L4387-L4408

I just don't see how docker config secrets can be anything other than just json.

[2018-04-13 15:07] stigok commented on #145
I agree. I was unsuccessful myself in trying to find any base64 decode related to dockerconfig. May just be invalid docs, as you hinted.

[2018-04-13 16:17] appilon commented on #145
So it appears its the docs that are misleading, you would base64 encode the contents of the dockercfg when embedding them into a yaml for kubernetes. I will be closing this issue, thanks to all the input throughout.

[2018-04-13 16:17] #145 closed

[2018-04-14 18:32] dohsimpson commented on #85
+1 helped me too!

[2018-04-16 14:39] appilon commented on #143
I'm currently investigating, so far it appears the variable actually isn't interpolating in the capacity which is strange. Even stranger is the same variable used in the `metadata.name` interpolates just fine.

[2018-04-17 16:04] appilon commented on #143
So after lots of debugging it appears to be an issue with Terraform that might be fixed with the next release (Terraform 0.12). We do have a workaround though:

@starkers try this in your config:
[code]

[2018-04-17 18:07] bcornils commented on #84
That's awesome. Are we comfortable closing this issue? or do we need to look at something else to address the concern?

[2018-04-17 21:29] rcrogers commented on #3
For anyone else who's looking, @sl1pm4t's fork also has an example of how to use the new resources:
https://github.com/sl1pm4t/terraform-provider-kubernetes/blob/e8fc10cd13c6bae1dfe1ecd87d785973b242985d/_examples/ingress/main.tf

[2018-04-17 21:30] #98 closed

[2018-04-18 14:49] starkers commented on #143
Thanks man, I'll do some tests to verify..

[2018-04-20 19:35] madmod commented on #141
Now that Kubernetes it being extended with Custom Resource Definitions extensively by common projects (Istio, Helm 3.0, and others) can this issue be revisited?

I don't think that it will be feasible for this provider to implement every CRD which people may want to use. Also the Kubernetes APIs change relatively quickly and updating this provider to match the latest features is impractical in my

[2018-04-23 21:55] trthomps commented on #3
At this point I can only assume the reason beta/alpha features are not being added is because HashiCorp doesn't like the Kubernetes competes with Console/Nomad and is purposely gimping the product.  The Google provider adds beta features within days of release and has no such rule since having a rule like this with Google products is absurd as they are notorious for leaving things in "beta" long a

[2018-04-25 10:42] r-moiseev opened #157 "Resource 'kubernetes_namespace' does not have attribute 'metadata.name'"
### Terraform Version
[code]
### Terraform Configuration Files
[code]

### Expected Behavior
Should refer namespace name

### Actual Behavior
[code]

[2018-04-25 11:12] mishak87 commented on #70
Would it be possible to support "generic" kubernetes resource with required field `kind` and `apiVersion` optional `metadata` and `annotations` and rest of the fields would be in `generic` field of type `map[string]interface{}`?

[2018-04-26 13:26] pat-nomalab opened #158 "kubernetes_replication_controller update does not affect running pods"
Hello,
I'm trying to update container image of running pods in a replication controller, I've  managed to update the replication controller definition but the pods are not updating.

### Terraform Version
[code]
### Affected Resource(s)
[code]
### Terraform Configuration Files
[code]

### Expected Behavior
Replication controller is updated
Pods are updated with new image

### Actual Behavior
Repli

[2018-04-26 18:14] gzunino commented on #38
I don't see how to make this work, I'm following comment https://github.com/terraform-providers/terraform-provider-kubernetes/issues/38#issuecomment-318581203. Service account is created and mounted in pod, but when trying to access the kubernetes API from the pod I got

Unknown user \"system:serviceaccount:dev:service-account\"

I named the service account "service-account" and using namespace "d

[2018-05-01 18:13] eversC commented on #3
@radeksimko will the official provider be updated soon given the k8s Deployment resource is now out of beta?

[2018-05-02 13:55] #61 closed

[2018-05-02 15:08] appilon commented on #157
Hello @r-moiseev it appears there is actually a typo in your config `${kubernetes_namespace.staging_namespace.metadata.name}}` should be `${kubernetes_namespace.staging_namespace.metadata.name}`. Regardless I could not recreate your error message, but I can confirm a solve for you is that terraform actually treats the metadata as a list with max 1 items (this is how we handle nested data structure

[2018-05-02 15:11] r-moiseev commented on #157
Ah, thank you.

[2018-05-02 23:02] ivantorrellas commented on #78
I need this too, how can I set configMap values in a terraform kubernetes_pod resource ??

[2018-05-03 03:28] paganotoni commented on #85
+1 helped me as well, thanks!

[2018-05-03 12:31] iorlas commented on #3
We are moving our whole infrastructure to K8s now, using terraform. It is a shame we should stop it or use workarounds. Are deployments and services on a plan at least? We gonna manage K8s with different software, I think, but we don't really want to.

[2018-05-03 12:51] stigok commented on #3
This ship isn't moving. Thankfully I'm having success with sl1pm4t's fork: https://github.com/sl1pm4t/terraform-provider-kubernetes

[2018-05-03 15:29] #157 closed

[2018-05-03 15:43] bflad opened #161 "Feature Request: Support exec Authentication (client-go Credential Plugins)"
Kubernetes implemented support for an `exec` authentication provider, where the client can generically reach out to another binary to retrieve a valid authentication token. This is used for supporting authentication models such as LDAP credentials or AWS IAM credentials.

This feature is alpha in Kubernetes 1.10, however it is the required model for working with AWS EKS.

Documentation on client-g

[2018-05-10 15:40] icereed commented on #70
@mishak87 excellent approach. The missing resources for Kubernetes is killing our adoption of Terraform for Kubernetes. A generic Kubernetes resource would open many use cases. IMO this feature is one of the most needed of all Terraform providers available.

[2018-05-10 23:17] cloudnautique opened #163 "TF doesn't like 3rd parties to annotate namespaces"
One of our users reported this rancher/rancher#12821, which seems like it will be a common use case. I wanted to get some thoughts here, I'm not sure what the best way forward is.

The issue is if you use TF to create a namespace in a Rancher managed Kubernetes cluster, the annotations applied to the namespace metadata cause TF to want to update every time. It feels like there should be a way for

[2018-05-14 10:54] kattelus commented on #60
Same problem with azure internal load banacer:
https://docs.microsoft.com/en-us/azure/aks/internal-lb
service.beta.kubernetes.io/azure-load-balancer-internal: "true"

[2018-05-17 17:09] bitglue commented on #60
Please read https://github.com/terraform-providers/terraform-provider-kubernetes/pull/50#issue-251016641, which explains why this check exists.

[2018-05-18 02:12] auberryberry commented on #158
+1 seeing the same behaviour on AKS

[2018-05-18 07:56] Phylu commented on #60
I think that especially because of the reasoning behind #50 this is a big issue for many of us.

Unfortunately, the usage after this change showed that some tasks that were possible before are not possible anymore. For those of us who rely on these features (internal load balancers, aws certificates, ...) this makes those things really hard do achieve.

Therefore, I would be really interested in f

[2018-05-18 23:20] razor-x commented on #153
This is pretty serious. I can't be logging all my secrets to my CI logs.

[2018-05-19 07:32] pdecat commented on #158
If the replication controller is properly updated, I guess it is not an issue with `terraform-provider-kubernetes` but rather the normal kubernetes behavior.

Or do you expect the terraform provider to also trigger a rolling update?

https://kubernetes.io/docs/tasks/run-application/rolling-update-replication-controller/

[2018-05-24 09:09] rickenharp opened #164 "Having two different kubernetes providers breaks `terraform refresh`"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- provider.kubernetes

### Terraform Configuration Files
[code]

[code]
### Expected Behavior
`terraform refresh` should run without error

### Actual Behavior
An error is thrown:
[code]

Somehow, when trying to refresh the state, it concatenates the two contexts into one and tries t

[2018-05-24 11:01] pdecat commented on #164
I use several providers in the same configuration.

I believe your issue caused by the `config_context` being defined in addition to the other options.

Can you try commenting it out?

[2018-05-24 11:20] rickenharp commented on #164
I just tried it with `config_context` commented out, but I get the same error.

One thing I should note: I am using provisioners in the module that creates the Google Kubernetes resource:

[code]

If I comment out one of the cluster entries in my `~/.kube/config` file, everything works, but I need these entries to use kubectl and helm with the cluster.

[2018-05-24 11:44] rickenharp commented on #164
Turns out, somewhere in the bowels of our Makefiles, `KUBE_CTX` was being explicitly set, removing that makes everything run smoothly again. Sorry, my bad 😅

[2018-05-24 11:44] #164 closed

[2018-05-24 13:14] paultyng commented on #70
Just wanted to provide some updates here, we are working on a plan similar to what @mishak87 described, its still a work in progress as some of the generic handling in `kubectl` isn't packaged up as easily as it could be to replicate some of its functionality, but we hope to have something soon.

[2018-05-24 13:25] paultyng commented on #158
Unfortunately, as the docs say, this is what the deployment in Kubernetes is meant for, not something that we would handle in the provider.

[2018-05-24 13:25] #158 closed

[2018-05-24 14:16] paultyng commented on #144
This is currently an upstream Terraform bug. This can work in some cases, but unfortunately not every case.

See:
https://stackoverflow.com/questions/50088355/terraform-how-to-create-a-kubernetes-cluster-on-google-cloud-gke-with-namespa
https://github.com/hashicorp/terraform/issues/12393
https://github.com/hashicorp/terraform/issues/4149

[2018-05-24 14:18] #144 closed

[2018-05-24 14:53] #79 closed

[2018-05-24 19:13] posener opened #166 "resource kubernetes_namespace should have a "name" output"
In order to have dependency between a `kuberentes_namespace` resource and another resource that uses this namespace, such as `kubernetes_pod`, `kuberentes_namespace` resource should expose a `name` output.

The diff below describes the difference between the current way of using a kubernetes namespace in terraform and the way I propose to use a kubernetes namespace:

[code]

[2018-05-24 19:50] posener commented on #166
I'm sorry, I can get it with the "id" output of the namespace resource:

[code]

[2018-05-24 19:51] #166 closed

[2018-05-25 10:03] chreichert commented on #60
Same problem here, when having the external IP for a loadbalancer inside a different resource group on azure:
The annotation needed for this is not allowed:
service.beta.kubernetes.io/azure-load-balancer-resource-group: RG_SANDBOX_006_QA_PROD_PublicIP_Pool

Whitelisting these necessary annotations would be highly appreciated.
The disallowing renders Terraform useless for us atm.

[2018-05-29 01:37] stefanthorpe commented on #3
@radeksimko Just under a year ago you mentioned that you would revisit this once this is out of beta. We'll it is and there are many people waiting for it.
Could we get some kind of official response on this topic?

[2018-06-03 00:13] darkn3rd commented on #85
+1 helped me.  Document this...

[2018-06-05 17:34] plispe opened #167 "Kubernetes endpoints resource is not implemented"
Is there is any reason why Kubernetes endpoints resource is not supported by the Terraform kubernetes provider? I know, that endpoints are in most cases handled not directly but through Kubernetes service. But I have a use case with [glusterfs](https://docs.openshift.org/latest/install_config/storage_examples/gluster_example.html) persistent volumes where I need to define endpoints manualy. This i

[2018-06-07 05:49] tristanpemble commented on #161
I've done a sort of hacky work around for this to get EKS working:

[code]

[2018-06-07 05:59] tristanpemble commented on #161
I've gotten around this in a rather hacky way to get EKS initialized with workers:

[code]

and the `authenticator.sh`:

[code]

[2018-06-11 17:15] jimmiebtlr opened #168 "Kube Persistent Volumes - Create successful, refresh state fails"
### Terraform Version

Terraform v0.11.7
+ provider.google v1.14.0
+ provider.kubernetes v1.1.0

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_persistent_volume

### Terraform Configuration Files
[code]

### Debug Output

The initial creation of the persistent volume is successful. (this log doesn't contain an error)
https://gist.github.com/jimmiebtlr/63da

[2018-06-11 21:13] pdecat commented on #168
The refresh logs show it tried to reach the master at localhost:

[code]

Did you try to create the GKE cluster and the kubernetes resources in the same run (i.e. without specifying `-target`)?

If so, the kubernetes provider couldn't be initialized in the first pass.
See https://github.com/terraform-providers/terraform-provider-kubernetes/issues/144 and https://github.com/hashicorp/terraform/issu

[2018-06-12 01:07] jimmiebtlr commented on #168
In one terraform apply from nothing in the gcloud project it seems to correctly

- Create kube cluster, nodes/machines
- Create the persistent volume and gcloud disks
- Create and start pods/etc (not in example)

If I'm understanding you correctly, a single `terraform apply`  isn't expected to both create kube, and add resources to the kube cluster in a single run?

[2018-06-12 05:46] pdecat commented on #168
In a single run, the kubernetes provider cannot be properly initialized as the GKE cluster does not exist yet.

The current workarounds are:
- to use target
- or to separate the google resources from the kubernetes ones in two states, and use the output of the former to initialize the latter.

[2018-06-12 06:14] pdecat commented on #168
Also related: https://github.com/hashicorp/terraform/issues/12869

[2018-06-12 06:19] dominik-lekse commented on #168
It is possible to provision both the GKE and Kubernetes resources within this cluster in a single Terraform run. See this example https://www.terraform.io/docs/providers/google/d/datasource_client_config.html#example-usage-configure-kubernetes-provider-with-oauth2-access-token on how to configure the Kubernetes provider with an IAM access token.

[2018-06-12 06:28] pdecat commented on #168
Re-read the apply logs, it does seem to create the kubernetes PV properly (not sure in which cluster though).

In https://github.com/terraform-providers/terraform-provider-kubernetes/issues/144#issuecomment-391731346:

No longer sure what's going on now.

[2018-06-12 16:40] jimmiebtlr commented on #168
What is working
- GKE creates kube cluster in the correct gcloud project
- Persistent volume is created on first run

What isn't working
- Running `terraform apply` a second time, fails with several
[code]

I'm currently running this in a docker container, so unless kube is coming up with a default (such as 127.0.0.1), it's definetly not picking up an existing .kube/config.

[2018-06-12 17:53] mb290 commented on #60
I'm also now hit with the bug and having the list of approved annotations would seriously help. I'm not a developer and had never even ventured into Go before, but managed to piece together the following extension to the existing function validateAnnotations in `https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/validators.go`.

[code]

I've tested the abov

[2018-06-15 18:10] jimmiebtlr commented on #168
Anyone know of an example with terraform + kube + gcloud + persistent volumes working.

[2018-06-15 22:41] ramyala commented on #38
Could you allow AutomountServiceAccountToken to be set explicitly while creating serviceaccount?

[2018-06-18 09:01] sebglon opened #169 "Configmap not support nonMasqueradeCIDRs and nonMasqueradeCIDRs"
### Affected Resource(s)
- kubernetes_config_map

### Terraform Configuration Files
[code]

### Debug Output
kubernetes_config_map.example: : invalid or unknown key: nonMasqueradeCIDRs

### Expected Behavior
What should have happened?
i want to config masqueradeCIDR has escribe on: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent

[2018-06-18 10:33] #169 closed

[2018-06-21 11:34] rawkode commented on #70
Did you have any luck with this implementation, @paultyng ?

[2018-06-25 05:46] saravanan30erd commented on #81
its working.

[2018-06-25 13:01] rawkode opened #171 "Inside Kubernetes Cluster"
Kubernetes provider isn't aware of when it's running inside a Kubernetes Pod.

### Terraform Version
Terraform v0.11.7

### Terraform Configuration Files
[code]

### Expected Behavior
It should run against the current cluster, using the service account that's mounted at `/run/secrets/kubernetes.io/serviceaccount`

### Actual Behavior
Tries to speak to Kubernetes on `127.0.0.1`

[2018-06-27 08:56] gmaliar commented on #171
The easiest solution to this problem is setting your provider like so.

[code]

[2018-06-29 16:18] jimmiebtlr commented on #168
Well, seems to be working today.  Removed and re-created cluster entirely (again).  Afaik nothing changed in terms of versions etc though.  Not sure what changed that caused it to be fixed.

[2018-06-29 16:18] #168 closed

[2018-07-02 06:57] SecurityNeo opened #172 "Suggesting to add kubernetes deployment resource"
Hi team,

Currently，terraform kubernetes provider don't support kubernetes_deployment resource,only surpport kubernetes_rc,we need a better upgrating plan for our application what kubernetes_rc don't give us,so  it would be nice to have kubernetes_deployment as well.

thanks.

[2018-07-02 17:13] ktham commented on #3
@radeksimko our team is looking to leverage Terraform for Kubernetes, are you/team planning to maintain the Kubernetes provider?

[2018-07-03 02:34] sdavids13 opened #173 "Allow storage classes to be designated as the default class"
### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_storage_class

### Terraform Configuration Files
[code]
### Expected Behavior
Created the "standard" storage class and made it the system default storage class.

### Actual Behavior
Terraform refuses to run saying: `Error: module.eks.kubernetes_storage_class.standard: metadata.0.annotations: "storageclass.kuber

[2018-07-03 06:51] lfshr commented on #172
Dupe of #3

[2018-07-03 12:28] bflad commented on #172
Thanks @lfshr, that appears to be the case. Closing this issue in preference of the earlier #3 to consolidate discussion and efforts.

[2018-07-03 12:28] #172 closed

[2018-07-04 14:30] msvticket opened #174 "FR: Resource for PodPreset"
It would be useful to be able to use terraform for creating PodPresets. Especially since ConfigMaps are supported it would be practical to be able to impose a policy that get ConfigMaps injected into Pods.

Some links:

https://kubernetes.io/docs/concepts/workloads/pods/podpreset/
https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

[2018-07-09 07:42] costimuraru commented on #70
Unfortunately I think this provider is ice cold. No progress whatsoever in the last 2 months, despite a lot of effort from the community.
Using the terraform kubernetes provider would have been nice, just because it meant not having to learn yet another tool.
However, given the state of things, **use helm instead**. Similar templating approach, but supports all k8s resources and is more mature.
Ju

[2018-07-10 09:17] mishak87 commented on #70
@costimuraru What about creating helm provider/module? It would solve plenty of other issues.

[2018-07-11 17:18] ktham commented on #70
@paultyng or @radeksimko Can you comment on whether work on this provider is still ongoing despite lack of public activity on this repo, or has the effort been dropped?

[2018-07-12 02:38] tsirlucas commented on #14
Any updates on this one? I'm going through the same problem.

@arekkas Did you find a workaround for your problem?

[2018-07-12 07:58] rawkode commented on #70
@mishak87 There already is a Helm provider, it works well:

https://github.com/mcuadros/terraform-provider-helm

[2018-07-14 18:43] costimuraru commented on #70
That's actually quite nice! Thanks for sharing @rawkode

[2018-07-15 21:20] costimuraru commented on #131
👍

[2018-07-16 03:36] bluemalkin commented on #76
Any update on this ? Would love to see it released asap. Thanks !

[2018-07-16 20:34] eldondevat commented on #143
The workaround seems to do the trick. Is there an issue on terraform proper that we can follow to address this?

[2018-07-16 21:20] hashibot[bot] opened #175 "Cannot connect to Azure AKS cluster using Kubernetes Provider"
_This issue was originally opened by @starlord-dixon as hashicorp/terraform#18468. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Debug Output

[code]

### Expected Behavior
Create AKS in Azure
Cannot Connect to Kubernetes provi

[2018-07-16 21:59] cloudnautique commented on #163
would you recommend something like:

[code]

being added to the NS resource?

[2018-07-17 13:17] johnroach opened #176 "Terraform uses default kubectl context group configurations rather what is defined in context"
Hi there,

Came across an interesting problem. It looks like Terraform by default tries to use the context configurations within the system for kubernetes context authentication. So although you define a context and your kubectl defaults to something else kube related data lookups will fail for a terraform plan. Is there a way to tell Terraform to not use kubectl context in system? Or is this a fe

[2018-07-17 16:56] aaronmell commented on #161
@tristanpemble Whenever I run your example, I get an unauthorized error. Any idea what might be the cause of that?

If I do something like this https://blog.stigok.com/2018/06/25/aws-eks-kubernetes-terraform-system-anonymous-service-account.html That works, and terraform works.

Would rather use heptio for authentication rather than a hard coded token.

[2018-07-17 20:55] hafizullah commented on #3
I badly need this feature otherwise I would have to look for alternative solutions.. :(

[2018-07-19 15:37] paultyng opened #178 "Interested in helping HashiCorp maintain this provider full time?"
I manage the team at HashiCorp that works on providers internally.

I am looking for someone to help us improve our Kubernetes provider support and implement some of the roadmap we have planned for it, if you are interested, [please apply](https://grnh.se/bb467cff1).

This job is a full time maintainer for the Kubernetes provider.

[2018-07-20 17:22] tsadoklevi commented on #3
HasiCorp, you are probably well aware of this issue. It seems to me that you don't give a s**t. You have your own agenda and you are selling stories about beta etc whereas all the k8s community is already using Deployments, Ingress etc.

Terraform is great but you are making people mistrust you and hence mistrust the "back" of Terraform.

Please announce your policy regarding k8s provider: are you

[2018-07-20 17:47] zimbatm commented on #3
@tsadoklevi there is no need to be rude

That being said, why not accept more maintainers to the repo? There are some active contributors like @sl1pm4t that could help. My impression was that splitting the providers out of the terraform repo was exactly to allow to delegate control more easily. Maybe it's time to take advantage of this.

[2018-07-20 18:06] zimbatm commented on #3
https://twitter.com/zimbatm/status/1020365345004105729

[2018-07-20 18:37] sean-abbott commented on #161
I already had my workers coming up with the terraform instructions, but I can't quite figure out how to actually be able to use terraform control kubernetes yet.

TBH, I am trying to learn both of these things at once and I don't understand the k8s auth strcture though, so this may not be the right place to ask.

[2018-07-20 20:43] danmaas commented on #161
Tip for those having trouble: try running
`heptio-authenticator-aws token -i $NAME_OF_YOUR_CLUSTER`
 and see if it returns a working token. The part you're looking for is the string value for "token" in the returned JSON stricture.

Temporarily hard-code that token inside your Terraform `provider "kubernetes"` block to test it.

I was originally encountering some problems until I realized that, be

[2018-07-20 21:23] cosmopetrich commented on #161
The `heptio-authenticator-aws token -i $NAME_OF_YOUR_CLUSTER` command doesn't communicate with Kubernetes. It just uses the AWS IAM API to sign some data. That signed data is what you pass to Kubernetes as a token. There's [a brief description in the authenticator's README](https://github.com/kubernetes-sigs/aws-iam-authenticator#how-does-it-work).

[2018-07-21 00:32] danmaas commented on #161
Aha, makes sense, thanks. So the authenticator still gets you a token even if the named cluster doesn't actually exist.

[2018-07-24 14:10] jhelblinghh commented on #178
@paultyng FYI
The page you are looking for was moved, removed, renamed, or may never have existed.

[2018-07-24 18:05] paultyng commented on #178
@jhelbling sorry about that, issue in Greenhouse, its back up now.

[2018-07-25 11:56] Miyurz commented on #3
@paultyng  Thank you for making the community aware about the progress. Yes, we love terraform and hence want to see the terraform providers for deployment and other k8s resources. I understand the delay as its hard to catch up with the aggressive k8s releases.

Is there any workaround that you or anyone else could suggest(local-exec etc.,) so that I continue to use tf and replace with the provide

[2018-07-26 16:36] borsboom commented on #3
@paultyng If you're still looking for resources, is this something you'd consider hiring an outside contractor to work on and maintain?  The company I work for uses both Terraform and Kubernetes heavily, and we've considered jumping into this implementation but have been reluctant due to the amount of future maintenance likely required (we have to choose our battles, and we don't like to just thro

[2018-07-27 20:03] paultyng commented on #3
@borsboom our long term goal is to have a full time employee or more supporting this, but in the near term we would consider contracting to help out the community and keep it moving, if you are still interested though feel free to email me (ptyng@hashicorp.com)

[2018-07-27 22:16] VictoryShoe commented on #175
A workaround is to just get rid of the `username` and `password` in `provider "kubernetes"`:

[code]

[2018-07-31 17:27] nblakely731 commented on #78
Any updates on this issue? Currently have a project that requires envFrom.

[2018-08-01 23:48] OGProgrammer commented on #178
If I knew more GO I'd be all over this.

[2018-08-03 14:28] paultyng commented on #70
@ktham see this response on the deployments issue: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/3#issuecomment-407118100

[2018-08-07 04:39] moosahmed commented on #161
FYI: The Terraform tutorial tells you to use `aws-iam-authenticator`. You're going to have to use that instead of `heptio-authenticator-aws` in TOKEN=$(heptio-authenticator-aws token -i $CLUSTER_NAME | jq -r .status.token)` in the bash script for this to work properly.

[2018-08-15 08:13] dreusskis commented on #78
+1

[2018-08-15 12:01] olvesh commented on #34
@radeksimko: I believe this is not an upstream bug, but at bug in the terraform-provider-kubernetes.
The hashicorp/terraform#5480 issue is only a enhancement discussion about propagating variables, or being able to provide global variables.

This issue is triggered when a module output is given as input to the configmap resource:
[code]

[2018-08-20 14:55] walterdolce opened #181 "Error should expose wrong value"
### Terraform Version
0.11.8

### Affected Resource(s)
All resources using the reference below

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
Error message should contain the value passed (or not passed).

### Actual Behavior
Error message doesn't say what was passed (or not passed). Example:
[code]

### Steps to Reproduce
1. Get miniku

[2018-08-21 10:51] walterdolce opened #182 "Wrong/Missing resource parameters documentation"
Hi. The documentation [here](https://www.terraform.io/docs/providers/kubernetes/r/replication_controller.html), does not specifically say what is what (what is a list, what is a map, what is a string, what is a number). This creates confusion and results in an unnecessary waste of time when looking at the docs and comparing those with the results we get when running Terraform.

The following Terra

[2018-08-21 11:00] walterdolce commented on #182
I found an example of `liveness_probe` [here](https://github.com/terraform-providers/terraform-provider-kubernetes/blob/577fdaec821fc9f2a76fa254f0d208a63e873ca9/_examples/http-nginx/replication-controller.tf#L22-L29) which helped me solve the issue. But I still think all the parameters should explicitly say what type they are/want. Otherwise people will have to dig into the codebase/search on Gith

[2018-08-21 18:40] walterdolce commented on #78
Looking forward to see this merged and released!

[2018-08-22 15:22] lawrencegripper opened #183 "Ability to deploy CRD's"
As much of the Kubernetes world moves to using CRD's is the provider planning to support a CRD resource?

cc: @scottguymer

[2018-08-23 00:02] sarneaud commented on #178
Heads up: the link seems to be broken again.

[2018-09-02 08:47] marty2bell opened #184 "Feature Request: Support for Kubernetes Endpoints for Headless Services"
### Terraform Version

Terraform v0.11.7
+ provider.kubernetes v1.2.0

### Expected Behavior

For headless services, there needs to be a kubernetes endpoint defined with the same name as the service when we don't need any load balancing etc....

To support this in terraform, we need be be able to create Endpoint resources via the kubernetes provider and ensure the service resource allows for non c

[2018-09-06 06:58] lainra commented on #178
The related position is: https://www.hashicorp.com/jobs/1288355
(I'm not affiliated with Hashicorp, just hoping like everyone that they find a full-time maintainer for this plugin :) )

[2018-09-06 09:14] hairmare commented on #86
@sl1pm4t Did you get around to testing the resource? I have some use cases where I need jobs (and later on cronjobs) and I'd rather not do any duplicate work.

[2018-09-06 14:07] sebastianvoss commented on #131
[Mount options](https://kubernetes.io/docs/concepts/storage/storage-classes/#mount-options) would be also helpful.

[2018-09-06 15:04] bennettellis commented on #48
FWIW, all of this and more is supported with the fork of the default kubernetes provider. I have found the default provider to be so limited that it's mostly broken. See https://github.com/sl1pm4t/terraform-provider-kubernetes

[2018-09-19 13:05] ictcontact opened #186 "Kubernets Replication Controller image update"
Hello,
I'm trying to update container image of running pods in a replication controller, I've managed to update the replication controller definition but the pods are not updating.

Terraform Version
Terraform v0.11.7
+ provider.aws
+ provider.kubernetes ~> v1.1

Affected Resource(s)
- kubernetes_replication_controller
Terraform Configuration Files

resource "kubernetes_replication_controller" "ma

[2018-09-20 06:04] pdecat commented on #186
Hi, this is the expected behavior for replication controllers, as the terraform provider does not perform rolling updates: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/158#issuecomment-391713713

[2018-09-20 07:36] pdecat commented on #186
That's it.

[2018-09-21 05:46] ictcontact commented on #186
@pdecat Thanks!

[2018-09-21 05:46] #186 closed

[2018-09-22 09:49] NickLarsenNZ commented on #3
Any updates on this? It seems to be dragging along too slowly and as a result the provider is way behind.
The `local-exec` fallback of course works, but then the state is not maintained.

[2018-09-28 10:04] jaceq opened #188 "Unable to fetch IP of 'LoadBalancer' service"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.8

### Affected Resource(s)
kubernetes_service

### Terraform Configuration Files
[code]

### Expected Behavior
External IP of lo

[2018-10-01 09:52] jaceq commented on #188
So this seems is more of a documentation issue as proper attribute is: load_balancer_ingress.0.ip and not as documentation says: load_balancer_ingress.ip

Below is a copy paste from state file...

[code]

[2018-10-01 09:52] jaceq commented on #188
Actually reopening in order to update documetation...

[2018-10-02 18:39] neilhwatson commented on #161
I tried this myself, got a token, but any attempt to create a k8s resource results in an 'unauthoried' error.

    provider "aws" {}

    terraform {
       backend "s3" {
          # Maintained by ansible in ./state/
          bucket = "example-terraform-eks-gir01"
          key    = "k8s"
          region = "us-east-1"
       }
    }

    # Remote backend for EKS
       data "terraform_remote_st

[2018-10-02 19:06] moosahmed commented on #161
I am not entirely whether extracting the eks end point and cert auth from the data resource works like that. I provisioned my eks directly using the aws provider. I would also check if the correct iam role policy attachments are initiated. see here How I did it: https://github.com/moosahmed/Stateful_Symphony/blob/master/terraform/modules/eks/cluster/cluster.tf

this works fine for me. good luck!

[2018-10-03 12:57] neilhwatson commented on #161
@moosahmed I've already provisioned the EKS cluster resource and nodes. Now I'm trying to provision services inside k8s, such as service accounts. Using kubectl works, but it's not idempotent, so I'm trying to use Terraform instead. No matter what I try the Terraform provider fails to authenticate to k8s.

[2018-10-03 15:38] aaronmell commented on #161
@neilhwatson I had to create a token for terraform to use. My provider looks like this

`provider "kubernetes" {
  host                   = "${data.aws_eks_cluster.eks_cluster.endpoint}"
  cluster_ca_certificate = "${base64decode(data.aws_eks_cluster.eks_cluster.certificate_authority.0.data)}"
  token                  = "${data.aws_ssm_parameter.terraform_token.value}"
  load_config_file       = f

[2018-10-10 15:36] RobinsonWM opened #189 "If ~/.kube/config specifies insecure-skip-tls-verify: true, Kubernetes provider cannot override it"
### Summary
It appears that if your `~/.kube/config` specifies a cluster with `insecure-skip-tls-verify: true`, then it is not possible to use Terraform to manage a _different_ Kubernetes cluster and also validate the TLS certificate.  Setting `insecure = false` does not appear to override the setting from `~/.kube/config`.

There's an obvious workaround (update your `~/.kube/config` file,) but it

[2018-10-11 12:57] paultyng commented on #178
This position is filled!

[2018-10-11 12:57] #178 closed

[2018-10-13 15:58] walterdolce commented on #142
I just experienced this in a similar scenario: I create a GKE cluster *first*, then I want to create a k8s resource within it (in this case s `kubernetes_secret`), but Terraform/the provider errors with:

[code]

As the `kubernetes_secret` contains referenced data coming from the GKE cluster resource, I would naturally expect to have Terraform/the provider to respect the dependency tree/resolution

[2018-10-16 15:51] jeffmhastings commented on #102
You can work around this limitation by using labels on the persistent volume and a selector on the persistent volume claim:

[code]

And I think they've add storage_class_name to persistent volume resources now so you could go that route as well.

[2018-10-17 14:36] bitbrain commented on #3
@NickLarsenNZ it seems so. https://github.com/terraform-providers/terraform-provider-kubernetes/pull/101 has been merged 2 days ago. In the comment @Starefossen states:

[2018-10-17 17:36] alexsomesan commented on #3
Deployments are in.

[2018-10-17 17:36] #3 closed

[2018-10-18 07:28] MarcusNoble commented on #100
Now that Deployments is merged in is there anyone working on the other resources?

We're currently in need of DaemonSets in order to configure a new AWS based kubernetes cluster with Kube2IAM setup.

[2018-10-18 11:49] bennettellis commented on #100
See this fork: https://github.com/sl1pm4t/terraform-provider-kubernetes if you need other configurations sooner rather than later. It works well, and is very, very easy to build with docker approach.

[2018-10-19 17:14] zikphil commented on #3
Is there an up-to-date example on how to use this resource somewhere? The one provided `https://github.com/sl1pm4t/terraform-provider-kubernetes/blob/e8fc10cd13c6bae1dfe1ecd87d785973b242985d/_examples/ingress/main.tf` does not seem to work.

[2018-10-22 15:35] mkyc opened #190 "kubernetes_replication_controller doesn't restart correctly"
### Terraform Version
✗ terraform -v
Terraform v0.11.8
+ provider.azurerm v1.17.0
+ provider.kubernetes v1.2.0
+ provider.local v1.1.0
+ provider.null v1.0.0
+ provider.template v1.0.0

### Affected Resource(s)
- kubernetes_replication_controller

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files

[2018-10-24 03:21] npbool opened #192 "Feature Request: kubernetes_replication_controller should support pod metadata"
I need to add annotations to Pods inside a ReplicationController. According to kubernetes doc for ReplicationController,

But kubernetes_replication_controller.spec.template doesn't have a metadata argument.

Terraform version:
Terraform v0.11.9

[2018-10-24 10:03] pdecat commented on #192
I believe it is the same as #106

[2018-10-24 10:04] pdecat commented on #106
FWIW, I have started work experimenting on that https://github.com/pdecat/terraform-provider-kubernetes/commit/bcfac1934bd9e72223c5320e3267bb2a62a73c72

[2018-10-24 10:20] mafrosis commented on #100
@sl1pm4t Do you have plans to package up the work in your fork as P/Rs on this repo? As mentioned [here](https://github.com/terraform-providers/terraform-provider-kubernetes/pull/101#issuecomment-352279208).

[2018-10-24 10:28] pdecat commented on #106
Hopefully, the same mistake was not done with [Deployments](https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/resource_kubernetes_deployment.go#L161) :)

[2018-10-24 22:31] soasme commented on #161
Thanks for the hard working. My issue was gone after upgrading to v1.3.0.

[2018-10-26 22:40] juhan88 commented on #60
Are there plan to support annotations? Specifically creating kubernetes service's with internal private elbs

[2018-10-30 19:46] pdecat commented on #176
Same issue here.

I believe the provider should error instead of falling back on system's default configuration if any of the explicitly set configuration parameters is incorrect.

Provider configuration:

[code]

Excerpt from plan with missing kubernetes configuration file:

[code]

Excerpt from apply with missing kubernetes configuration file:

[code]

Note that it only fails because I explicite

[2018-10-30 23:07] enozero commented on #60
Now that development is starting back up on this, it would be great to have this revisited. I would love to use this in some different projects, but kube2iam used the internal annotations to allow pods to assume an IAM role.

[2018-10-31 01:48] rpatrick00 opened #200 "Metadata annotations generate an internal Kubernetes annotation errors"
### Terraform Version
Terraform v0.11.10
+ provider.aws v1.41.0
+ provider.kubernetes v1.3.0
+ provider.null v1.0.0
+ provider.template v1.0.0

### Affected Resource(s)
- kubernetes_service

### Terraform Configuration Files
Here is the relevant portion of my terraform script.

[code]

### Debug Output
[code]
### Expected Behavior
Terraform should have provisioned my service.

### Actual Behavior

[2018-10-31 02:44] rpatrick00 commented on #200
Looks like PR #199 will fix this issue.  Please merge this fix since it is impossible to create services of type LoadBalancer for any of the major Cloud Providers without this (since you don't yet support Ingress...).

[2018-10-31 12:01] dasch opened #201 "kubernetes_deployment: changing env vars causes re-creation"
### Terraform Version
[code]
### Affected Resource(s)
- `kubernetes_deployment`

### Terraform Configuration Files
[code]

### Expected Behavior
When changing the value of an environment variable, e.g. `MYSQL_HOST`, the Deployment is updated in-place.

### Actual Behavior
When changing the value of `MYSQL_HOST`, the Deployment needs to be recreated. When using `kubectl`, this is not the case – the

[2018-11-01 09:33] sebastiendan opened #202 "Cannot use azure_disk as a k8s persistent volume disk in an AKS cluster"
### Terraform Version
0.11.10

### Affected Resource(s)
- kubernetes_pod
- kubernetes_persistent_volume

### Terraform Configuration Files
## main.tf
[code]

## variables.tf
[code]

## storages/main.tf
[code]

## output.tf
[code]

## variables.tf
[code]

### Debug Output
[code]

### Expected Behavior
I want to use an Azure storage resource as a Persistent Volume for my AKS cluster.
AKS clusters us

[2018-11-01 14:07] cromega opened #204 "Unsupported value: "rbac.authorization.k8s.io": supported values: """
Hi,
I'm running into this issue trying to bootstrap a k8s cluster using terraform

[code]
I want to apply the following role binding:

[code]
I converted it into a terraform resource like this:
[code]
When I run terraform apply I get the following diff:

[code]

Terraform adds `subject.0.api_group`.

If I apply the changes I get the following error:
[code]

[2018-11-01 14:42] Tapanito opened #205 "Feature request: support the creation of ClusterRole, Role and RoleBinding"
This is a request for multiple features.

Terraform already supports ClusterRoleBinding, however it is impossible to define custom ClusterRole, I believe this would be a great addition to the provider.
In addition, defining Role and RoleBinding resources would allow users to create more granular access permissions.

Would it be feasible to introduce these features?

[2018-11-01 15:14] alkar commented on #38
@radeksimko correct me if I'm wrong but here's what I'm thinking: given the `serviceAccountName` attribute of the spec, you can discover the `Secret` name by looking at the `ServiceAccount` resource. Then on Read, we could remove the volume & volume mount and that wouldn't confuse the diff? This is obviously a couple more API calls and perhaps a bit messy code-wise.

Additionally, I first noticed

[2018-11-01 17:16] alkar opened #206 "Kubernetes label validation is invalid"
### Terraform Version
[code]

### Affected Resource(s)
I noticed this with `kubernetes_namespace` but it might affect others too?

### Terraform Configuration Files
[code]

### Actual Behavior
In the above example `terraform` does not accept the label:
[code]

### Expected Behavior
It should apply cleanly.

The [documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/label

[2018-11-01 20:36] mbarrien opened #207 "Feature Request: Service data source"
I have a Kubernetes service being deployed outside of this provider (specifically, the Kubernetes Helm provider). It  is a NodePort service, for which Kubernetes assigns a random port. I would like to be able to feed this port into an aws_security_group_rule to be able to open up that port to an ALB load balancer's security group. However, I have no way using this provder to query the Service to g

[2018-11-01 20:38] mbarrien commented on #204
To work around this, I've explicitly set ```subject { api_group = "" }```. The underlying code is incorrectly assigning the default value of api_group to "rbac.authorization.k8s.io" inside of the subject.

[2018-11-01 20:39] mbarrien commented on #205
Partial duplicate of #30

[2018-11-01 20:46] mbarrien commented on #161
To modify @neilhwatson 's response, a work around without relying on an external script to be checked in (but still requiring jq to be installed):
[code]

My org also sticks in `AWS_PROFILE=${var.aws_profile} aws-iam-authenticator...` for the command line when we use profiles in a multi-account setting.

[2018-11-01 22:32] shaneramey commented on #204
This works for me:

[code]

[2018-11-02 08:44] iorlas commented on #14
Same here, waiting, crying

[2018-11-02 09:06] aeneasr commented on #14
I gave up on it and just added HTTPS to my service.

[2018-11-02 09:58] cromega commented on #204
@mbarrien yep, it works like that, thanks.

[2018-11-02 15:48] ltomes commented on #78
Is this now supported? I see [env_from](https://www.terraform.io/docs/providers/kubernetes/r/pod.html#env_from) in the documentation at this point.

[2018-11-05 02:50] bradcburns commented on #87
For those arriving from their preferred search engine, as I did:

Importantly, the validation described seems to only allow lowercase characters for secret names. This precludes camelCase.

[2018-11-05 15:38] aldoborrero commented on #100
I've using @sl1pm4t repository and I have to say that works quite well, so definitely I propose to use his work to be proposed as a PR for the official provider (otherwise this one is half baked).

[2018-11-06 22:02] smatyas commented on #3
For the record, the example is now in the official docs here: https://www.terraform.io/docs/providers/kubernetes/r/deployment.html

It was added in #194

[2018-11-07 18:07] bcollard commented on #142
for people stuck here, try not forcing dependencies between resources.
In the exemple, what happens if @Ikradex removes line #12 ?
`depends_on = ["container_cluster.test_cluster"]`
Terraform manages dependencies better on itself.

[2018-11-08 20:49] enozero opened #210 "Deployment update checks replicationcontroller instead of rollout status"
### Terraform Version
0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- deployment

### Debug Output
https://gist.github.com/enozero/9e60d362b7801b779555133241608059

### Expected Behavior
It should check the status of the deployment rollout.

### Actual Behavior
It check the replicationcontroller, which is not created

### Steps to Reproduce
Please list the step

[2018-11-08 20:50] enozero commented on #210
More details here: https://github.com/terraform-providers/terraform-provider-kubernetes/pull/101#issuecomment-437148157

[2018-11-08 23:07] enozero commented on #210
I've verified locally changing the function call to `waitForDeploymentReplicasFunc` works perfectly. I'll submit a pull request on it.

[2018-11-08 23:08] enozero commented on #210
@alexsomesan for visibility

[2018-11-08 23:10] alexsomesan commented on #210
Thanks for documenting this and validation the proposed solution.
I'd love to take a look at that PR.

[2018-11-09 16:15] vpereira01 commented on #142
for other people stuck here: you can have this error message if you have `~/.kube/config` already initialized with `gcloud container clusters get-credentials project`. Remove the `~/.kube/config` and you're good to go.

[2018-11-09 16:42] pvormittag commented on #142
@vpereira01 You can also set `load_config_file` to false on the provider, which may be a more practical choice then deleting your `~/.kube/config` setup.

Here's a snippet of a setup I use which allows both terraform and kubectl to co-exist.

[code]

[2018-11-10 01:49] woz5999 commented on #204
i have the same issue. workaround above also works for me.

[2018-11-12 07:58] hden opened #212 "Feature Request: CronJob resource."
### References
- https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2018-11-12 17:38] ntrp commented on #204
Although this works for me I think it's not really nice having to specify that. Also for newcomers could be a problem since if not set exactly like that it fails and in some cases it force a new resource every time (if role_ref api_group is not set).

[code]

[2018-11-12 19:44] enozero commented on #210
This can be closed out!

[2018-11-12 19:44] #210 closed

[2018-11-13 12:48] alkar opened #214 "Name validation regex is invalid"
### Terraform Version
[code]

### Affected Resource(s)
- `kubernetes_cluster_role_binding`

### Terraform Configuration Files
[code]

### Expected Behavior
I expect the provider to be able to create the resource. The colon is allowed in all RBAC resources as far as I'm aware but I cannot find any relevant documentation.

### Actual Behavior
[code]

### Steps to Reproduce
1. `terraform plan`

[2018-11-14 18:07] timthesinner opened #215 "Feature Request: Custom Resource"
Enabling the K8S provider to apply and manage the lifecycle for custom resources has a number of advantages:
- Allow terraform to bring an entire K8S cluster under management, without waiting for formal resource models.
- Allow terraform to manage resources for custom APIs.

### Terraform Configuration Files
Inline Configuration
[code]

Inline configuration
[code]

File based configuration
[code]

[2018-11-14 18:13] alexsomesan commented on #215
Thanks for documenting this request.

We do want to support custom resources (and generic resources in general). We've been discussing various ways to approach this for a while. The main challenge with the current state of things in Terraform is achieving a diff-ing behaviour that is consistent with current Terraform resource diffs. The plan is to wait to Terraform 0.12 to land first and try to ma

[2018-11-14 18:18] mattfysh commented on #176
I'm not sure if I'm having a similar problem here, trying to use the JSON key file supported by terraform-provider-google plugin

[code]

I'm new to terraform and can't figure out how to get it to log out the variable values (to make sure I'm passing the right config into kubernetes provider)

I'd prefer to use the static authentication method to remove the dependency on kubectl and its config fil

[2018-11-14 18:20] timthesinner commented on #215
Sounds great, thanks for the quick response.

[2018-11-14 18:42] alexsomesan commented on #214
The error message is correct and represents expected behaviour.
Kubernetes does not allow `:` in object names. Because of that, `foo:bar` is not a valid object name and that is why you are seeing this error.

The format for object names is documented in the Kubernetes docs here: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[2018-11-14 22:59] charles-d-burton opened #216 "ConfigMap Documentation"
I think the documentation for the configmap could be a bit better.  The current example is highly simplistic and does not explain how the configmap works with the data.  For instance do the map keys get passed as part of the data?  When I run the following configmap it doesn't work whereas if I run it using kubectl it works fine.  That's largely because it's not clear how to use the configmap and

[2018-11-15 09:23] pdecat commented on #216
Have you checked with `kubectl get configmap -n kube-system aws-auth` the actual content of the config map?

It's probably a formatting issue.
Here's a more complex example that I use in some setups:

[code]

[2018-11-15 09:39] alkar commented on #214
This is definitely permitted in kubernetes. You'll even see that default `ClusterRoles` and `ClusterRoleBindings` of various components use this naming scheme,
[code]
Here is the original example but using `kubectl`:
[code]
Thoughts?

[2018-11-15 11:15] alexsomesan commented on #214
@alkar That's a very interesting find. Thanks for pointing it out.

In developing the provider, we use the API types exposed by the `kubernetes/client-go` libraries our reference, which do explicitly document that `ClusterRoleBinding` uses the same `metav1.ObjectMeta` type for it's metadata and points to the naming convention doc I originally linked.

As you've pointed out, this doesn't hold true

[2018-11-15 11:20] alkar commented on #214
@alexsomesan thanks for the quick response.

AFAIK `metav1.ObjectMeta` does not care about names, the validation happens at a different stage.
The documentation on naming rules is quite vague,

But I cannot find any docs on the 'more specific restrictions'.

[2018-11-15 11:31] alexsomesan commented on #214
Yes, that's right. The type itself doesn't validate anything and the `Name` struct attribute is just a string.
I was only referring to the documentation comment attached to it, which as you noticed is generally describing the format as lower case alphanumeric characters, dashes and dots with potentially additional restrictions, but NOT relaxations. Hence the confusion.
Let me see what the API folk

[2018-11-15 16:44] dh-harald opened #217 "Updating annotations fails"
Hi,

### Terraform Version
[code]

### Affected Resource(s)
`kubernetes_storage_class` and others ???

### Terraform Configuration Files
[code]
### Steps to Reproduce
1. `terraform apply`
2. add additional annotiation to resource, for example: `annotations { "label" = "test" }`
3. `terraform apply`

### Actual Behavior
[code]

[2018-11-15 16:45] dh-harald commented on #217
I think, the same issue (https://github.com/terraform-providers/terraform-provider-kubernetes/issues/37), but it looks, that root cause was different

[2018-11-15 16:59] alexsomesan commented on #217
@dh-harald Was this actually and issue in the provider?
What root cause did you arrive to?

[2018-11-15 17:05] dh-harald commented on #217
I don't know, what's the root cause, but it looks itsn't that contains slashes. It's a simple annotation without slash, and the provider fails, and breaks the state file as well:
[code]

[2018-11-15 17:08] alexsomesan commented on #217
Could you reproduce the failure with environment variable `TF_LOG=1` set?
The output of that would help us understand what'a going on (although I have a suspicion of what it is).

[2018-11-15 19:31] moserke opened #218 "Kubernetes Client Version"
I am trying to determine a good way to find what kubernetes client libraries a compiled into each provider version.  It is not very clear in the vendor directory.  We currently are running 1.9 clusters (limitation of tectonic) and this provider does not work for us right now because the 1.10+ go-client causes errors when connecting to a 1.9 cluster.

Is there an easy way to tell what go-client is

[2018-11-15 21:16] mattfysh commented on #176
decided on going with using the generated client certificate from the cluster masterauth (CN=client). Had to bind this user to the cluster-admin role though, more info: https://github.com/kubernetes/kubernetes/issues/65400

[2018-11-16 02:15] sl1pm4t commented on #86
@hairmare - Yes I've used it (and CronJobs) a number of times on our production infra.

[2018-11-16 10:06] dh-harald commented on #60
I'm not a go programmer, so I won't open a pull request, but here's my solution for this problem:
https://github.com/dh-harald/terraform-provider-kubernetes/commit/d0b48e8ec7e991f702aa6e0ea1dfdfef6380c509

Idea: @pdecat / Solution: @mb290

Here's an example:
[code]
I don't know is it known, but if you're using `true` instead of `"true"`, terraform translates it into `1`, and it won't work

[2018-11-17 15:15] aeneasr commented on #176
@mattfysh how did you bind that user to the role? Any help is appreciated.

[2018-11-17 17:08] aeneasr commented on #14
Check this: https://github.com/GoogleCloudPlatform/terraform-google-lb-http

[2018-11-17 20:01] mattfysh commented on #176
@aeneasr using an account that allows you to create cluster role bindings:

[code]

[2018-11-19 22:19] kilhage commented on #212
+1

[2018-11-20 12:34] peterver commented on #212
+1 but i'm guessing since even in k8s 1.12 it's in v1beta1 this is a nogo for now ?

[2018-11-20 18:20] hashibot[bot] opened #220 "Dynamic provisioning of Cinder volume and Persistent volume using Terraform through Kubernetes"
_This issue was originally opened by @Radik2 as hashicorp/terraform#19412. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

# Terraform Version

[code]

`kubernetes_persistent_volume`

# Terraform Configuration Files

[code]

# Expected Behavior

Persistent Volume

[2018-11-21 12:12] chriswilliams1977 opened #221 "Feature Request: GKE Object modification"
Hi Ya,

We have successfully used Terraform to deploy all needed GCP resources, including folders, projects and GKE clusters.

After the cluster provisioning, we would also like to manage the initial setup of some Kubernetes API objects using Terraform. There is a Kubernetes provider for Terraform to do this:

https://www.terraform.io/docs/providers/kubernetes/index.html

Unfortunately this provid

[2018-11-22 00:07] alexsomesan commented on #221
Hi Chris,

Thanks for getting in touch. I think your use case is a very common one. It should definitely be something you can do with this provider.
As you mention, `ClusterRole` resources are not supported yet. This is just because we haven't gotten to it yet.
If you feel generous, you can try to contribute a PR for it. Otherwise, we'll try to prioritise the work on our side.

As to modifying exi

[2018-11-22 15:21] alexsomesan opened #224 "Refactor addressing of changed attributes in nested resources"
When detecting changes in deeply nested attributes, we pass an HCL path string to `ResourceData.GetChange()` to target a specific attribute deeper down into the structure.
This is approach works for Terraform <0.12.x, but is not guaranteed to still be functional in HCL2.

This type of change detection needs to be refactored into something that makes use of t

### Terraform Version

### Affected Re

[2018-11-22 17:51] jeff1985 commented on #146
This is currently a big blocker for me to use persistent volumes. At the moment I'm using a workaround and deploy persistent volume via yaml files directly to the cluster. Are there any plans to implement this functionality?

[2018-11-22 21:37] Anthonyzou opened #225 "Multiple secret_ref and env_from do not work"
### Terraform Version
Terraform v0.11.10
+ provider.kubernetes v1.3.0

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_deployment

### Terraform Configuration Files
[code]

### Debug Output
[https://gist.github.com/Anthonyzou/10f620bc8022e6772f5fa146c71c0f82](https://gist.github.com/Anthonyzou/10f620bc8022e6772f5fa146c71c0f82)

### Expected Behavior
Multiple

[2018-11-23 15:37] BusraKoken commented on #131
I see that the implementation is already in the master(https://github.com/terraform-providers/terraform-provider-kubernetes/commit/eed77a7cb8cb5240d2bfaf198500790cce23a1df). Thanks for that! :)

I was wondering when is the new release of this provider so that we can start using this feature?

[2018-11-24 02:47] johnroach commented on #176
@mattfysh I don't think this is the same problem. The issue I was facing was that the context definition is not pulling or using the correct user per kubeconfig setting. It just uses what is set in the session. It doesn't actively lookup the configuration.

[2018-11-26 10:30] jon-butterworth opened #227 "Error creating persistent volume."
Hi,

I'm seeing an issue when creating the persistent volume. The disk gets created in GCE, the Cluster gets created in GKE. But when it runs the kubernetes_persistent_volume function, it fails with the following error:

[code]

### Terraform Version
$ terraform -v
Terraform v0.11.10
+ provider.google v1.19.1
+ provider.kubernetes v1.3.0

### Affected Resource(s)
kubernetes_persistent_volume
kuber

[2018-11-26 12:03] jon-butterworth commented on #227
@pdecat - I saw your comments on #168

Could this be similar? Trying to reach master at localhost. I am running a single `main.tf` file and trying to provision the GKE and PV in the same `terraform apply`. I'm seeing that this is not the correct process? What would you suggest here if you have a moment to advise? Would you suggest splitting it down into multiple runs?

[2018-11-26 12:50] pdecat commented on #227
How is your kubernetes provider configured? Looks like you're falling back on the defaults.

It should use the output of the container cluster resource.

I find it much easier to manage as separate stacks.

[2018-11-26 13:03] jon-butterworth commented on #227
I'm actually getting a failure on this provider now, on init.

data "google_client_config" "default" {}

`provider "kubernetes" {
  load_config_file = false
  host = "https://${data.google_container_cluster.artifact-cluster.endpoint}"
  username = "${var.master_username}"
  password = "${var.master_password}"

  token = "${data.google_client_config.default.access_token}"
  cluster_ca_certificate =

[2018-11-26 13:37] jon-butterworth commented on #227
The error I'm seeing is:

[code]
I'll remove the username & password. I wasn't sure if they were required or not, I just some references to them elsewhere.

[2018-11-26 13:39] pdecat commented on #227
Indeed, you're missing the `data.google_container_cluster.artifact-cluster` datasource.
Something like:
[code]

[2018-11-26 13:45] jon-butterworth commented on #227
It's there... It's in my original post. (albeit with a now different name)..

[code]

[2018-11-26 13:47] pdecat commented on #227
That's the resource, not the datasource.

[2018-11-26 13:48] pdecat commented on #227
If you want to keep it in the same stack and not use the datasource, then:

[code]

[2018-11-26 13:54] jon-butterworth commented on #227
Deleted previous comment as I now see you were referring to the data source and not the resource.

I have added it, and it now passes an init and a plan.

However it fails with:
[code]
It creates the cluster okay. I assume this is meaning that the certificate is not populating from output?

I wonder if I'm trying to read in data which doesn't exist yet?

[2018-11-26 13:58] pdecat commented on #227
I assume that's when everything is configured in the same stack/folder, isn't?

What happens when a second apply is run?

[2018-11-26 13:59] jon-butterworth commented on #227
Hmm, I previously had this in my outputs file:
[code]
And in testing when I removed the storage stuff which wasn't working, the cluster created and I got the output I was expecting.

It's having an issue with this now:

`  cluster_ca_certificate = "${base64decode(data.google_container_cluster.artifactory-cluster.master_auth.0.cluster_ca_certificate)}"`

Which is essentially the same thing. Could i

[2018-11-26 14:03] jon-butterworth commented on #227
It's gone so far as to create the volume now (which is further than it's ever gotten!), however it's 4 mins in on the volume claim and still going. So possibly waiting for a timeout there.

[2018-11-26 14:06] jon-butterworth commented on #227
Yes, you're correct.. it's in a single stack/folder. I wanted to keep it simple by having a single run to create everything. But maybe it'll be better split out. Can I then call another run from the output of the first run? So no manual intervention is required?

It's timed out, and failed with:

[code]
The volume is `10Gi` and the claim is also `10Gi`. The class is explicitly set to `storage_clas

[2018-11-26 14:06] pdecat commented on #227
As stated in https://github.com/terraform-providers/terraform-provider-kubernetes/issues/168#issuecomment-396472567, it cannot work in a single pass as the kubernetes provider initialization in the first run is done with non yet existent information.

That's why I prefer to manage such configurations in separate terraform stacks/folders.

[2018-11-26 14:13] jon-butterworth commented on #227
I see, that does make sense. Is there a way to automate the second run? Or Is it just a case of living with the first error and just re running?

[2018-11-26 14:36] jon-butterworth commented on #227
Nice, so with the above we don't need to use separate resources to create the disk and volume? It's all one by the class and the claim? Testing this as we speak. (As I type it worked great.)

I think regarding the other issue, I'll break it down into cluster and storage, and then have them ran separately as part of the pipeline.

[2018-11-27 19:43] stephen-dahl commented on #161
for windows users
[code]
requires you have installed jq. `choco install jq` if you use chocolaty

[2018-11-28 21:23] JRLambertWeave opened #233 "Feature Request: Affinity"
Having Affinity in Deployment and StatefulSet resources facilitate running HA clusters on kubernetes (think Redis or NATS). Without it, we can not guarantee that the pods will be scheduled in such a way that if a node fails, the cluster will not go offline.

https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity

[2018-11-28 23:32] alexsomesan commented on #233
This is coming soon!

I'm working on adding all the newer attributes for `Pod` which are missing since the `Pod` resource is quite old. This change will include the affinity attributes.

 I will link the PR here once it's up.

[2018-11-29 12:33] alexsomesan commented on #178
@jon-butterworth Support for deployments was released a few weeks ago. It's already available.

https://www.terraform.io/docs/providers/kubernetes/r/deployment.html

There is a small issue with waiting for deployments to finish for which we merged a fix that will go into the upcoming release. If you don't depend on that waiting feature, you can already use deployments.

[2018-11-29 12:35] jon-butterworth commented on #178
@alexsomesan Great, thanks. Apologies, I must have missed that. I'll check it out now.

[2018-11-29 12:43] alexsomesan commented on #178
No worries. Let me know how they work for you and if you run into any issues (other than the one I mentioned).

[2018-11-29 13:22] jon-butterworth commented on #178
@alexsomesan Are there any full and in depth examples to help with syntax and formatting? The documentation is a touch thin. I'm transposing from a yaml deployment to hcl for TF. I'm mustering my way through at the moment, but I can't help but think I'm formatting a bunch of stuff wrong :)

[2018-11-29 13:41] alexsomesan commented on #178
@jon-butterworth May I suggest you have a look at the acceptance tests for the deployment resource:

[2018-11-29 13:41] alexsomesan commented on #178
https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/resource_kubernetes_deployment_test.go

In the second half of the file you get a few HCL block that are the deployment configurations we use to test the resource.

[2018-11-29 13:45] jon-butterworth commented on #178
Great, thanks. This looks just like what I need. I'll go through this.

[2018-11-29 13:56] jon-butterworth commented on #178
@alexsomesan I'm seeing `liveness_probe` in the tests, but not `readiness_probe`. Is `readinessProbe` not a feature in this resource?

[2018-11-29 13:57] jon-butterworth commented on #178
Is that what you're referring to here:

[2018-11-29 15:03] jon-butterworth commented on #178
Another thing if I may @alexsomesan (also let me know if this is not the best forum for these type questions.) - Happy to direct them somewhere more suitable.

I am trying to transpose the following from my yaml file to the deployment resource:
[code]
Is this handled inside `volume` or `persistent_volume_claim` from within metadata, or by the `kuberneted_pod` resource?

The test is great for most

[2018-11-29 17:32] aaronmell commented on #161
@ostmike I created this in kubernetes

apiVersion: v1
kind: ServiceAccount
metadata:
  name: terraform
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: terraform
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: terraform
    namespace: kube-syste

[2018-11-30 17:44] udaykiran19 opened #237 "Support for APIService resource"
Hi

Im trying to deploy metrics-server addon.
Is APIService resource supported ? If not is there any work around to do this ?

###  metrics-server APIService resource
[code]
Reference -
1. https://github.com/kubernetes-incubator/metrics-server
2. https://github.com/kubernetes-incubator/metrics-server/blob/master/deploy/1.8%2B/metrics-apiservice.yaml

Thank you for the support.

[2018-11-30 17:48] alexsomesan commented on #237
Unfortunately, this resource is not supported yet.
If you would like to contribute it, I'm happy to review a PR. Otherwise, I've added it to the queue of resources we still have to implement.

[2018-11-30 18:47] chris-codaio opened #238 "Need mechanism for mutating annotations & labels on system namespaces"
A basic use case is needing to annotation the `kube-system` namespace for [KIAM](https://github.com/uswitch/kiam).

`terraform import` doesn't work for well documented reasons around non-variable references (i.e., module output variables and locals) in modules.

From an aborted PR attempt (https://github.com/terraform-providers/terraform-provider-kubernetes/pull/236), some ideas are:

* Take inspi

[2018-11-30 18:57] chrisleck commented on #238
+ @pdecat @alexsomesan

[2018-12-03 16:37] Phylu commented on #34
I encounter this issue, when I want to use the UID of a config map as a label for a deployment. The ultimate goal is, that the pod is restarted when the configmap changes.

Here is the configuration:
[code]

This produces the error:
[code]

This does not happen if the used value for the label is static. This also does not happen if the very same value is used e.g. as the name within the matadata s

[2018-12-04 19:41] andyvanosdale opened #240 "secret_key_ref should have optional field"
Looking at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#secretkeyselector-v1-core, the `secret_key_ref` field should have an `optional` boolean field that specifies whether the Secret or it's key must be defined.

### Terraform Version
Terraform v0.11.10
+ provider.kubernetes v1.4.0

### Affected Resource(s)
- kubernetes_pod
- kubernetes_deployment
- kubernetes_replication_

[2018-12-05 00:46] Stelminator opened #241 "Feature Request: Service Account secret values"
Hi,

I'd like to be able to extract a service account token from a cluster (or generate an appropriate one if possible) to be used as a bearer token.

I'm willing to help create the datasource mentioned below, but could use a sanity check that it's actually a missing feature before I put a bunch of time into that.  Additionally, if there's a better way to accomplish the goal, I'd very much appreci

[2018-12-05 10:16] alvaroaleman opened #242 "Feature Request: Generate Resources from Kubernetes API types"
At this point in time, the terraform provider only supports a subset of the available Kubernetes Objects. Implementing every single one of those is time-consuming, tedious and error prone.

The kubernetes project does publish the types for all of its objects in the api repository: https://github.com/kubernetes/api

Would it be feasible to generate the code for the terraform Kubernetes resources fr

[2018-12-05 15:37] Radik2 commented on #14
Hello all,
Any updates on this one? I have same problem but with OpenStack :( .Are there any plans to add Ingress resource soon ?

[2018-12-05 18:52] Stelminator commented on #241
sidenote: https://github.com/Ashald/terraform-provider-yaml will probably do nicely to parse what I want from the secret data.

[2018-12-05 20:37] Stelminator commented on #241
I have the start of a PR that does what I want:
https://github.com/terraform-providers/terraform-provider-kubernetes/pull/243
needs tests, but:
[code]

[2018-12-06 10:27] emman27 opened #245 "kubernetes_service_account not reading interpolated values correctly"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_service_account

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
There's only this much that's actually relevant, so I'll just paste it here. It's gener

[2018-12-06 11:56] Radik2 commented on #14
Hello @sl1pm4t ,

Has this  https://github.com/sl1pm4t/terraform-provider-kubernetes/blob/custom/_examples/ingress/main.tf ever worked or it work only with v1beta ? I have Terraform v0.11.10 with provider.kubernetes v1.3.0.
When I run "kubernetes_ingress" part of the code it says : "Provider doesn't support resource: kubernetes_ingress"

[2018-12-06 15:18] aeneasr commented on #190
I am experiencing a similar issue, with either `already exists` or `not found` as an error message. Any way to fix this?

[2018-12-06 16:41] zero-below commented on #14
@Radik2,

The blurb you referenced works with a provider built from sl1pm14t's provider fork, not the official fork.

As a side note, I see up above in comments in this thread, people trying to get ssl to work. Here's how to do it.

[code]

[2018-12-06 22:37] xflahertyx opened #247 "Add allowPrivilegeEscalation key to deployment resource for container security_context"
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#privilege-escalation

### Terraform Version
Terraform v0.11.10
+ provider.aws v1.35.0
+ provider.kubernetes v1.4.0

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_deployment

### Terraform Configuration Files
[code]

### Debug Output
Error: kubernetes_deployment.processor: spec.0.template.0.spe

[2018-12-07 15:40] pdecat commented on #247
Need that too, I'm working on a PR right now.

[2018-12-07 20:05] acobaugh commented on #14
I normally voice support for an issue with a thumbs up to avoid spam, but this is getting somewhat ridiculous. Any ETA on when ingress will be supported? I've been using @sl1pm4t's fork with great success, but the setup to use that provider instead of simply being able to do `terraform init` is quite cumbersome when on a team...

I really want to use terraform to manage kubernetes, as I and others

[2018-12-07 20:46] pdecat commented on #242
I believe @radeksimko started an experiment to do just that some time ago but hit some limitations: https://github.com/radeksimko/terraform-gen

Another option may be for kubernetes to follow the magic modules example: https://github.com/GoogleCloudPlatform/magic-modules

[2018-12-07 22:18] sarneaud commented on #14
The Ingress resource is still in beta:
https://kubernetes.io/docs/concepts/services-networking/ingress/#prerequisites

[2018-12-08 15:35] aeneasr commented on #14
I agree with @acobaugh 's sentiment. And by the way, the Google Provider is exposing a [beta provider](https://www.terraform.io/docs/providers/google/provider_versions.html) which leaves it to the implementer's discretion as to whether use it or not. I agree that simple use cases as setting up SSL for inbound traffic (via Ingress), which is supported on major platforms for over a year (years?) rea

[2018-12-10 12:51] jakubigla commented on #60
Haha, lack of support of internal annotations just made this and couple other kubernetes resources useless. Especially in enterprise. Thanks for removing this. Now automation of this just got much complicated.

[2018-12-10 15:12] dh-harald commented on #60
@jakubigla For similar reason, we've started using https://github.com/sl1pm4t/terraform-provider-kubernetes instead of the official... It has no problem with internal annotations, there's a lot of beta APIs are supported, which we're using (ingress, clusterrole, etc)... Worth a try instead of using (for example) dumb hacks with null_provider

[2018-12-10 17:21] rpatrick00 commented on #60
Are we going to integrate my PR #244 to address this problem that makes the Kubernetes provider unusable in real-world scenarios?

[2018-12-10 17:31] enozero commented on #60
Alex has been doing some great work on this provider, and there are active PRs for different Kubernetes resources. If there is a need for a resource, please file an issue so that people know and feel free to work on it.

[2018-12-10 17:36] rpatrick00 commented on #60
@enozero, I agree that his version of the provider is nice.  Unfortunately, https://github.com/sl1pm4t/terraform-provider-kubernetes/issues/36 seems to be a bigger change than I am able to take on right now.

[2018-12-10 18:50] dh-harald commented on #60
@rpatrick00 for me, aws-iam-authenticator is working fine. They merged a newer go library, far as I know

[2018-12-10 19:40] rpatrick00 commented on #60
@dh-harald I was able to get it to work with AWS authentication using the [workaround](https://blog.stigok.com/2018/06/25/aws-eks-kubernetes-terraform-system-anonymous-service-account.html) but this forced me to do some hacking of my kubeconfig file from my terraform scripts that I didn't like.  If this is working without the need for the workaround now, he should close sl1pm4t#36 so that everyone

[2018-12-10 20:09] dh-harald commented on #60
No, I don't hack anything... I just configure the provider:
[code]

[2018-12-11 11:21] Dariusch opened #254 "Secret type service-account-token cannot be created"
### Terraform Version
[code]

### Affected Resource(s)
* kubernetes_secret

### Terraform Configuration Files
[code]

### Debug Output
[code]

Setting the annotation via terraform produces another error:
[code]
results in
[code]

### Expected Behavior
Create a secret type service-account-token

### Actual Behavior
Error exit 1

### Background Information
I am trying to script my hashicorp vault co

[2018-12-11 20:38] tecnobrat opened #255 "Error editing kubernetes_service_account image_pull_secret param"
### Terraform Version
0.11.10

### Affected Resource(s)
- kubernetes_service_account

### Terraform Configuration Files

First the config was this:
[code]

Then we added the image_pull_secret:
[code]

### Expected Behavior
It should have modified the service account to have the new imagePullSecrets attached

### Actual Behavior
It threw this error instead:

`kubernetes_service_account.tiller_servi

[2018-12-11 22:11] Urik opened #256 "Kubernetes provider keeps trying to recreate existing resources when working in conjunction with the Azure provider"
### Terraform Version
0.11.10
0.11.8 as well

### Affected Resource(s)
* kubernetes_secret
* kubernetes_cluster_role_binding
* kubernetes_service_account

### Terraform Configuration Files
Azure infra creation resources:
[code]

Kubernetes creation resources
https://gist.github.com/Urik/70249baa4a18d9b78b65380445fd4871

### Expected Behavior
No resources should be recreated or changed (besides bas

[2018-12-12 13:49] dh-harald commented on #60
@rpatrick00 it looks, something weird happend, it just stops working, and I'm facing the same problem like https://github.com/sl1pm4t/terraform-provider-kubernetes/issues/36 describes... I don't know, why it worked before, and why it stops working.

[2018-12-12 18:37] #247 closed

[2018-12-13 05:53] #241 closed

[2018-12-14 20:13] bryanlarsen commented on #215
The most obvious workaround is https://github.com/ericchiang/terraform-provider-k8s

But what I'm doing is creating a simple helm chart with my custom resources and using the helm provider, providing a local path as the chart name.  That makes sense for us because we're using the helm provider to install a bunch of other stuff too.

[2018-12-16 20:48] mingfang commented on #242
My kubernetes plugin does exactly that https://github.com/mingfang/terraform-provider-k8s

[2018-12-17 14:57] solita-tvoipio opened #258 "Feature request: mountOptions"
We are using K8s in Azure (AKS), and have a few Deployments with persistent volumes and volume claims. Before starting to transition the Deployment management to Terraform, we set the mount options using the `volume.beta.kubernetes.io/mount-options` annotation. However, this is deprecated (https://kubernetes.io/docs/concepts/storage/persistent-volumes/), Kubernetes supports setting the mount optio

[2018-12-18 12:05] jeff1985 opened #260 "Kubernetes deployment: setting strategy.type not possible"
I have a kubernetes deployment where I need to set the strategy type to "Recreate". See https://www.terraform.io/docs/providers/kubernetes/r/deployment.html#strategy

I have specified the definition as following:
[code]

When I execute terraform, it recognizes a change is needed:
[code]

After execution the field is however not changed, which I can verify by displaying yaml definition directly in

[2018-12-18 14:58] jordan-keyes commented on #201
+1 to this. We have a kubernetes_deployment that has a few environment variables starting with "INFO_APP_" for the /info Spring Boot Actuator, and since those update with every deployment, it was causing our deployments to completely re-create without updating the revision.
Removing those has allowed it to be a modification instead of a re-creation.

[2018-12-19 21:03] DanielMolander opened #262 "kubernetes_stateful_set not updating container image name"
Hi there,

Creating a kubernetes statefulset works, with the correct image, but updating the image does not use the new image name in the update statement. After updating the image TF recognizes that the container image has changed but repeated apply's will continue to show the recognized change

### Terraform Version
Terraform v0.11.8
+ provider.kubernetes v1.4.0

### Affected Resource(s)
Please

[2018-12-19 22:35] cupojoe commented on #254
I'm having the same issue, any updates on this?

[2018-12-19 22:54] alexsomesan commented on #262
Hi, this is fixed in master, but still unreleased.
Are you able to test with a provider build from master and confirm if it solves your problem?

[2018-12-20 15:41] DanielMolander commented on #262
I can confirm this is fixed in master branch, I will close this issue.
Do you happen to have a plan on when the current master will be released?

and thanks!

[2018-12-20 15:41] #262 closed

[2018-12-20 18:51] ctranstrum commented on #217
Any update on this issue? Just ran into this one, and it promoted the error into the state file so that no plan, apply, destroy will work.

[2018-12-21 05:50] jamesrcounts commented on #189
Had a similar problem with the helm provider.  I seem to be having success with the following workaround: add `config_context` argument to the `kubernetes` block and set it to a non-existent context.

[code]

In my case the only context in my config is `docker-for-desktop` with `insecure-skip-tls-verify: true`.  Setting the `config_context` to something that doesn't exist seems to avoid loading th

[2018-12-21 13:55] bitglue commented on #60
Does this mean the policy of refusing to support beta resources is no longer in effect? I think most (if not all) the use cases for annotations brought up here are beta.

[2018-12-22 00:10] Jeeppler commented on #204
Thanks to this issue and the example by @ntrp I got it to work. However, it is super confusing and took me a long time to figure out. This is a bug and should be fixed.

Here is the [Kubernetes file](https://raw.githubusercontent.com/kubernetes/heapster/master/deploy/kube-config/rbac/heapster-rbac.yaml):

[code]
this is the converted document using the Kubernetes provider:

[code]

without the emp

[2018-12-24 01:36] bukzor opened #263 "automountServiceAccountToken default disagrees with k8s"
### Affected Resource(s)
- kubernetes_service_account

### Terraform Configuration Files
[code]

### Debug Output

### Expected Behavior
I expected the result of terraform to be the same as the result of the equivalent `kubectl apply myyaml`. For example:

[code]

### Actual Behavior
Note that `automountServiceAccountToken` is set to false, unlike the expected behavior.

[code]

### References

Th

[2018-12-24 02:02] bukzor commented on #263
There's something worse wrong than the default, because changing the terraform config for this field has no effect on the actual value. I've toggled it from true to false and back in the tf config, and tf says it updates it, but nothing actually happens to the kubernetes service account's config.

[code]

[2018-12-24 02:56] bukzor commented on #263
`tf taint` improved the situation; the service account has `automountServiceAccountToken: true`, now.

[2018-12-24 19:14] bukzor commented on #141
In GKE, custom resources are used for configuring the details of load balancing (see (BackendConfig](https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig)), and as a Kubernetes application developer, I plan to use the controller/custom resource pattern throughout my app.

Without *any* support for custom resources, this provider is unusable, for me (and at least twelve others, ju

[2018-12-27 16:08] ctranstrum commented on #206
Try this:
`resource "kubernetes_namespace" "foobar" {
  metadata {
    labels {
      "foo/bar" = ""
    }

    name = "foobar"
  }
}`

[2018-12-28 19:57] xpros commented on #260
Seeing same behavior with a slightly newer version of terraform:
[code]

[2018-12-31 12:21] nunofernandes commented on #254
Bumped on this also.. Trying to create a service account using terraform and I can't create the secret for that service account.

[2018-12-31 12:50] nunofernandes commented on #94
Also having the same issue..

[2019-01-02 17:09] nunofernandes commented on #30
Any ideas if ClusterRole will be on the roadmap?

[2019-01-02 17:20] RobMaskell commented on #30
The work appears to have been done https://github.com/terraform-providers/terraform-provider-kubernetes/pull/229 it's awaiting review

[2019-01-03 00:14] zakkg3 commented on #216
I applied the same aws-auth with the file from the aws documentation, then used your code and imported the configmap. then when i run the plan using "landscape" i get this:

[code]

 makes no sense for me, cant see any difference :D

[2019-01-04 16:46] ghamed commented on #260
I can also confirm same issue

[code]

Code snippet
[code]

I hope this helps.

[2019-01-07 03:05] kzap commented on #204
yep, its a bug pls fix

Schema says its optional
https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/schema_rbac.go#L29-L35

Had to do
[code]

[2019-01-07 06:05] captn3m0 opened #268 "Import not supported for service account"
### Terraform Version

`0.11.8`

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_service_account

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Debug Output

[code]

### Expected Behavior

The `service_account` resource should support imports and get imported.

### Actual Behavior
R

[2019-01-07 13:41] kzap commented on #263
This was defaulted to `false` in https://github.com/terraform-providers/terraform-provider-kubernetes/issues/38 but IMHO thats a poor decision.

It was only recently added to docs but not yet released in the docs: https://github.com/terraform-providers/terraform-provider-kubernetes/pull/253/files

Whats worse is that for some specs like Pod its just default to false
https://github.com/terraform-pr

[2019-01-07 21:16] paultyng commented on #178
@jon-butterworth it should support both `liveness_probe` and `readiness_probe`, it has all the same attributes as containers/pods do in the deployments pod template (they share the same provider code that lists the configuration options) so you can also look at the pod reference for some of the details: https://www.terraform.io/docs/providers/kubernetes/r/pod.html#readiness_probe

If you are seein

[2019-01-09 09:26] steven-edgar opened #270 "kubernetes_cluster_role_binding error with service.api_group"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2019-01-09 10:49] seboudry commented on #233
Hi!
@alexsomesan does the newer attributes you're talking about includes also `toleration` ?

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2019-01-09 11:05] seboudry commented on #233
I thinks this issue can be closed because node affinity (and toleration) are fully supported and works well :+1:

[2019-01-10 14:38] rfvermut commented on #173
Hi! Any plans on this one? Or workarounds?

[2019-01-10 16:17] jhoblitt commented on #263
@kzap I've added a commit to #261 that removes the default for `automountServiceAccountToken` but that PR is essentially stalled on needing the ability to identify (and ignore) the auto-magic mounts.

[2019-01-10 16:34] GuiSim commented on #110
https://github.com/terraform-providers/terraform-provider-kubernetes/pull/118

Looks like this introduces the new network policy resources and was merged today.

[2019-01-10 16:40] pdecat commented on #110
Indeed!

[2019-01-10 16:40] #110 closed

[2019-01-11 15:06] sethvargo commented on #233
@alexsomesan Is this released? I'm not seeing affinity/antiaffinity rules on statefulsets or deployments in the docs.

[2019-01-11 15:30] #106 closed

[2019-01-11 16:39] alexsomesan commented on #233
Not yet. I'm aiming for a release early next week.

[2019-01-13 16:58] cupojoe commented on #14
I'm not sure what the deterrent to implementing Google's beta API is. Google is famous for leaving very stable products in beta for years.
I think implementing something like @sl1pm4t solution and flagging/warning the docs with a beta status would be sufficient to make the community happy and the k8 provider much more useful.
To get around this I've been using a sh script to create the ingress, bu

[2019-01-14 03:47] bukzor opened #272 "Compatibility with terraform 0.12"
I tried out terraform 0.12alpha4 as a preview today and found that the kubernetes provider isn't compatible. Is there any workaround available, or does this require a ton of new work to be done?

### Terraform Version

[code]

### Terraform Configuration Files
[code]

### Expected Behavior
What should have happened?

[code]

### Actual Behavior
What actually happened?

[code]

[2019-01-14 03:55] shaneramey commented on #272
You should be able to clone this repo, update https://github.com/terraform-providers/terraform-provider-kubernetes/blob/6c0453cd18c39b584d5ddb7608a133c181faa51f/go.mod#L31 on your machine, and [build the provider](https://github.com/terraform-providers/terraform-provider-kubernetes#building-the-provider)

[2019-01-14 08:14] Dariusch commented on #254
@cupojoe yes, removing the type property creates a simple secret.
ServiceAccount secrets mount their values into a folder in the pod (/var/run/secrets/kubernetes.io/serviceaccount/token), which then can be used e.g. in initContainers to authenticating against Hashicorps vault.
A simple secret is not enough because I need [kube API access](https://kubernetes.io/docs/concepts/configuration/secret/#s

[2019-01-14 12:25] codercr opened #273 "kubernetes_service externalTrafficPolicy support"
The kubernetes_service does not support setting externalTrafficPolicy value. This is very important for preserving source IP for services that require source IP address. I would like to see if the feature could be added.

[2019-01-14 12:29] #273 closed, assigned to nobody

[2019-01-14 15:42] alexsomesan commented on #272
The provider needs to be built for TF 0.12 specifically. I'm in the process of doing that. You can follow the progress in the [tf-012](https://github.com/terraform-providers/terraform-provider-kubernetes/tree/tf-012).

This includes bumping the Terraform SDK to current master (or as recent as possible), like @shaneramey explained above.
However, some code changes are necessary in the provider to a

[2019-01-14 16:21] jhoblitt opened #274 "1.5.0 removes privileged context from rc without issuing a warning"
This may or may not be worth fixing but it certainly caught me by surprise.  While there are a number of warnings reported by tf regarding the podspec change, no issue is printed about removing privileged context.

### Terraform Version
[code]

### Affected Resource(s)
- `kubernetes_replication_controller`

### Terraform Configuration Files
[code]
### Plan Output
[code]

### Expected Behavior
Warn

[2019-01-14 17:19] bukzor commented on #272
Thanks for the update @alexsomesan. I'll happily be your first tester if you provide a release candidate, if that's helpful.

[2019-01-14 17:43] cupojoe commented on #254
I see. Well, hopefully, there will be a solution soon.

[2019-01-15 08:51] pdecat commented on #274
Sorry about that, it is caused by https://github.com/terraform-providers/terraform-provider-kubernetes/pull/249/commits/97bd913e7a323a98fed65e9f73dd8c48054eb654 which was motivated by https://github.com/kubernetes/kubernetes/pull/53443/files#diff-310c52de103f5497d2d590411435ed19R978

[2019-01-15 12:39] pdecat commented on #274
Turns out it depends on the value of `securityContext/privileged` on the pod template spec:

- if `true`, then the diff persists after `state rm`/`import`
- if not defined, then the diff disappears after `state rm`/`import`

I've yet to test what happens if it is set to `false`.

Please note that `securityContext/privileged: true` implies `AllowPrivilegeEscalation: true`:

cf. https://kubernetes.i

[2019-01-15 15:42] jhoblitt commented on #274
I think I poorly worded this ticket by using the word "break" when what I more accurately meant was "change the resource unnecessarily".

Aww, nice catch on the semantics of `privileged`, I would have thought that it was orthogonal with the set of allow caps that could be made effective, such that a privileged process could drop it's capabilities but then not "re-escalate" without  `AllowPrivilege

[2019-01-15 15:46] pdecat opened #276 "Dev: acceptance tests needing Cluster Admin Roles fail"
Acceptance tests needing Cluster Admin Roles fail

### Terraform Version

HEAD from master after 1.5.0 release:

[code]

### Affected Tests

- `TestAccKubernetesRole_basic`
- `TestAccKubernetesRole_importBasic`
- `TestAccKubernetesRole_generatedName`

### Terraform Configuration Files

N/A

### Debug Output

N/A

### Panic Output

N/A

### Expected Behavior

All acceptance tests pass out of the bo

[2019-01-15 15:53] pdecat commented on #276
Either the `kubernetes/test-infra/gke/README.md` file should be updated with additional instructions to acquire the cluster admin role, or the `google_container_cluster.primary` resource in the `kubernetes/test-infra/gke/main.tf` file be updated with `enable_legacy_abac = "false"`.

WDYT?

[2019-01-15 16:06] alexsomesan commented on #276
@pdecat In my case I don't have to take any extra steps. The Role tests pass out of the box.
I just build the GKE cluster like you described and then run the tests.
Here's how my config looks:

[code]
Then I run the tests like this:
[code]

Not sure yet, but it might be that the admin role is inherited in some way from the GCloud identity used to build the cluster?
I'd have to look into it a bit.

[2019-01-15 16:07] pdecat commented on #274
I've noticed the same for both tests I conducted: neither YAML output had `AllowPrivilegeEscalation` but the diff only disappeared after `rm`/`import` for the replication controller that does not have `securityContext/privileged: true` set.

Not sure yet what's going on, more tests needed...

[2019-01-15 16:08] pdecat commented on #276
What version of the google provider are you using?

[2019-01-15 16:09] alexsomesan commented on #276
[code]

[2019-01-15 16:11] pdecat commented on #276
Ok, same as me, so not related to the provider version.

What version of kubernetes do you pass when creating the GKE cluster?

[2019-01-15 16:14] pdecat commented on #276
Oh, I'm not using the generated kubeconfig file, I use the one from `gcloud container clusters get-credentials`.

[2019-01-15 16:14] alexsomesan commented on #276
1.11.5-gke.5

[2019-01-15 16:49] pdecat commented on #276
I've submitted https://github.com/terraform-providers/terraform-provider-kubernetes/pull/277 to fix other issues regarding the environment variables setup.

[2019-01-15 16:55] pdecat commented on #276
I've created a new test cluster and can confirm it works without requiring additional changes when properly following the instructions from the README:

[code]
[code]

Thanks @alexsomesan and sorry for the noise!

[2019-01-15 16:55] #276 closed

[2019-01-16 19:15] nfisher commented on #215
Hi @alexsomesan given HCL is JSON compatible what are the big obstacles you see to adopting it prior to 0.12 landing? Or is it more a matter of prioritisation and bandwidth?

[2019-01-16 22:59] pdecat commented on #215
This was also discussed in #195

[2019-01-17 15:09] jeff1985 commented on #260
This issue is breaking my deployment on azure kubernetes as disks can only be bound to one container.

@alexsomesan can you help with this?

[2019-01-18 12:03] steveyblam opened #280 "Unexpected EOF when interpolating in command array"
Hi there,

### Terraform Version
v0.11.11

### Affected Resource(s)
Please list the resources as a list, for example:
-kubernetes_deployment

### Terraform Configuration Files
[code]
### Panic Output
None

### Expected Behavior
The ${var.init_command} should be interpolated and used as the entrypoint for the init container

### Actual Behavior
Apply runs and errors with the following:

kubernetes_

[2019-01-18 12:22] steveyblam commented on #280
Workaround:

Leaving a space after the interpolated value removes the error:

[code]

[2019-01-18 14:02] steveyblam commented on #280
Hey. Oddly enough i'm having trouble reproducing it now. Might be an issue with my kubernetes setup. If I can i'll post up the log.

var.init_command had "bundle exec rake db:create db:migrate db:seed"

[2019-01-18 14:43] steveyblam commented on #280
Ok managed to reproduce

This is the relevant part of the trace

2019/01/18 14:41:12 [DEBUG] [aws-sdk-go]

Error: Error applying plan:

2019/01/18 14:41:12 [DEBUG] plugin: waiting for all plugin processes to complete...
2019-01-18T14:41:12.379Z [WARN ] plugin: error closing client during Kill: err="connection is shut down"
2 error(s) occurred:

2019-01-18T14:41:12.380Z [DEBUG] plugin.terraform-pro

[2019-01-18 14:53] pdecat commented on #280
This is only the end of the log, the underlying error must be way before.

[2019-01-18 14:55] steveyblam commented on #280
Hmm. it seems to be intermittent. I'll investigate more and get more info

[2019-01-22 15:00] Radik2 commented on #14
Hello again guys :) , Hello @sl1pm4t ,

Is there "secretName" as a rule in or something else we can set in fork Ingress resource ? I have tried to set "secretName" , "secret_name" or "secretname" but Terraform Fork does know about that...Like this for example

 rule {
      host = "myminikube.info"
      secret_name = "name_of_secret" --> "invalid or unknown key: secret_name"

      http {

[2019-01-23 08:27] lainra opened #283 "RoleBindings are getting recreated on each `terraform plan/apply`"
Hi there,

### Terraform Version
0.11.8
with terraform-provider-kubernetes v1.5.0
### Affected Resource(s)
- kubernetes_role_binding

### Terraform Configuration Files
[code]

### Debug Output
(Small so I will just paste it here)
[code]

The RoleBinding already exists in the specified namespace:

[code]

### Expected Behavior
What should have happened?

`terraform plan` should not detect any chang

[2019-01-24 10:20] hashibot[bot] opened #284 "Terraform fails to add Azure static IP to Kubernetes load balancer."
_This issue was originally opened by @ashleydavis as hashicorp/terraform#20074. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I've had an issue attaching an Azure static IP address to a Kubernetes load balancer service.

This was working  ok before I tried to ap

[2019-01-24 11:16] ydewit commented on #142
@pvormittag thanks for the pointer. Too bad AWS requires the use of a custom authenticator so I can't get around the generation of a kubeconfig file and hope it is not deleted (terraform doesn't seem to re-generate the local_file when the file is no longer there and there are no other changes.

[2019-01-24 15:45] wjam opened #285 "`kubernetes_cluster_role` rule has incorrect validation"
Currently, the attributes in the `kubernetes_cluster_role` rule element validates that the `api_groups` attribute is present but this doesn't match up with the validation performed by Kubernetes.

Using the example at the bottom of this issue as the starting ground, the rules appear to be:
* either apiGroups or nonResourceUrls must be present
* verbs must be present
* if the rule has apiGroups, th

[2019-01-24 20:53] mwpaa commented on #167
I've hit this same roadblock now, not wanting to use a forked repo though. Might just have to implement a PR myself.

[2019-01-25 01:15] ashleydavis commented on #284
I've been able to reproduce this problem in a simpler example.

I have an example repo that shows how to build a Kubernetes cluster on Azure. I started from this commit:

ashleydavis/nodejs-microservices-example@64d0fbe

I was able to run terraform apply to build a functioning cluster.

Then I added the static IP to the externally accessible web service.

That was this commit: ashleydavis/nodejs-m

[2019-01-25 11:40] marekaf opened #287 "Kubernetes provider in CICD Pipeline without kubectl and credentials fails"
Hi,
I'm struggling to use kubernetes provider with GKE in gitlab-ci pipeline without kubectl installed.
Works fine on my machine, but not in the pipeline without the kubeconfig context. The docs and examples are always populating token with current kubeconfig context. How do I do that with using the terraform service account and hashicorp/terraform:light docker image? Thanks!

### Terraform Versio

[2019-01-25 12:02] alexsomesan commented on #287
Hi Marek,
We are running the provider in CI with GKE without kubeconfig files.

I will try to reproduce your issue and report back.

On Fri 25. Jan 2019 at 12:40, Marek Bartík <notifications@github.com> wrote:

[2019-01-25 12:45] marekaf commented on #287
great, thanks:))

[2019-01-26 16:02] Swahjak commented on #225
Also allow usage of both `secret_ref` and `config_map_ref` together.

[code]

[code]

[2019-01-28 14:19] yves-vogl commented on #141
This is also an issue with EKS to apply the [k8s CNI update](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.3/aws-k8s-cni.yaml). One of my colleagues (@thommaa) also encountered problem with Helm Chart and certmanager.

[2019-01-28 14:47] Passpes commented on #141
Up! issue needs to be fixed for multiple deployment use cases.

[2019-01-29 01:44] sl1pm4t commented on #14
Hi @Radik2
The `secret_name` attribute needs to be nested instead a `tls` block like:
[code]

[2019-01-30 00:16] twsouthwick opened #289 "kubernetes_pod is always replaced"
Every time I do a `plan` or `apply` the pod ends up needing to be deleted and recreated. I'm not changing anything, but the `id` and some `env` variables that were automatically created force the pod to be recreated.

### Terraform Version
[code]

### Affected Resource(s)
kubernetes_pod

### Terraform Configuration Files
[code]

### Expected Behavior

### Actual Behavior
[code]

### References
Are

[2019-01-30 09:06] dploeger commented on #263
This is breaking my ingress controller setup. Is it possible to manually mount the service account token currently?

[2019-01-30 10:35] dploeger opened #290 "FR: Support HostAlias in PodSpec"
Currently, the [HostAlias](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#hostalias-v1-core) object isn't supported for all resources, that include the PodSpec.

This is available since v1.7 according to the [official documentation](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/).

### Terraform Version
Terraform v0.11.

[2019-01-30 12:14] Sudharma commented on #204
Any plans to fix this soon?

[2019-01-30 13:10] Radik2 commented on #14
Hello @sl1pm4t and thank you very much for your answer . It works but something else is worrying me :
I set following structure
spec {
    tls {
      hosts = "example.com"

      secret_name = "tls-secret"
    }
}

And terraform said "hosts: should be a list" and then I set to :

spec {
    tls {
      hosts = ["example.com"]

      secret_name = "tls-secret"
    }
}

Which was accepted as syntax

[2019-01-30 17:46] twsouthwick commented on #289
Thanks! That snippet didn't work (something the `#` seemed to cause problems). However, I switched to deployments and it worked. I hadn't seen that there was a deployment option via terraform so I had just gone with pods. Now I can run `terraform plan` and no changes are shown.  Thanks!

[2019-01-30 17:46] #289 closed

[2019-01-30 18:11] pdecat commented on #289
Good!

Note: I've fixed my code snippet (`ignore_changes` is a list).

[2019-01-30 19:16] j00p34 commented on #263
@dploeger set automountServiceAccountToken: true in your deployment config. (kubectl edit deploy/<deployment>

[2019-01-30 19:21] alexsomesan commented on #285
This report claims issue items than #288 fixes. Reopening.

[2019-01-31 06:20] dploeger commented on #263
@j00p34 I thought, that the Pod setting to false would override the deployment setting like @kzap mentioned

[2019-01-31 09:19] Radik2 commented on #14
Please ignore above message . I have tested with kubectl and yaml. file and it work like that so no worries

[2019-01-31 10:54] alexsomesan commented on #285
Looked into the options here a bit, but it looks like there aren't that many for the moment.

`ValidateFunc` is not supported on complex (list or map) types yet. Neither are `ConflictsWith` nested expressions.

Without support for those, there really isn't a lot more that can be done to enforce the list of conformance rules detailed in this issue.

I'll label this issue as `Improvement` before clo

[2019-01-31 10:54] #285 closed

[2019-01-31 15:57] alexsomesan commented on #205
@Sudharma Cluster Role is merged in master (See https://github.com/terraform-providers/terraform-provider-kubernetes/pull/229).
It will be available in the provider release. I don't yet have a fixed date for it, but it should be a matter of weeks.

[2019-01-31 16:04] Sudharma commented on #205
Great!  I am expecting it for azurerm.

[2019-01-31 17:02] R0quef0rt commented on #202
I can confirm that this is still an issue. Too bad; this makes using Terraform to managed AKS volumes and managed disks useless at this time.

[2019-01-31 18:41] j00p34 commented on #263
@dploeger No I believe the default of false results in the automountServiceAccountToken being set on a pod when you deploy the pod with the kubernetes provider. A single pod that is. If you set it for the deployment the pod is created by the deployment, not by the provider. So the deployment sets the value

[2019-01-31 18:54] #94 closed

[2019-01-31 18:59] alexsomesan commented on #287
I did notice that you're trying to use the Helm provider in the example you provided.
Was it actually your intention to post this issue in the Kubernetes provider though?

[2019-01-31 20:42] rmb938 opened #292 "Manually deleting the service account token breaks state"
### Terraform Version
[code]

### Affected Resource(s)
- kubernetes_service_account

### Terraform Configuration Files
[code]

### Expected Behavior

No diff to be shown and nothing applied in kubernetes because nothing changed. Yes the service account token was deleted however that is dynamically generated from kubernetes and there is no way for terraform to manage that. Terraform should ignore s

[2019-02-01 07:17] dploeger commented on #263
@j00p34 I saw, that in the pods automountServiceAccountToken was set to false after I have changed it in the deployment. But I'm currently unsure, wether I had recreated the pods from the deployment. Will check it out and keep you posted.

[2019-02-01 08:57] mbarrien opened #293 "kubernetes_daemonset with strategy type=OnDelete has error "expected pointer, but got nil""
Tried running from the head to test the upcoming daemonset support, ran into an issue with the update strategy of `OnDelete`. The strategy block has an optional field `rolling_update` that should only be filled in if the strategy is `RollingUpdate`, which this is not. If you omit it as is correct in this case, provider returns an error message.

### Terraform Version
Terraform v0.11.8, self-built

[2019-02-01 14:50] dh-harald commented on #263
It's definetely true in k8s api, I can confirm that... This default `false` value completely brakes `kube-state-metrics` deployment without automountServiceAccountToken=True

[2019-02-01 23:32] jeff1985 commented on #258
I have the same issue. Is there any chance, that this will get solved soon?
I can't find a way to specify mountOptions when using terraform!

[2019-02-03 09:50] myyra opened #296 "Feature Request: Container Storage Interface Support for Persistent Volumes"
[Container Storage Interface (CSI) has been promoted to GA in the Kubernetes v1.13 release](https://kubernetes.io/blog/2019/01/15/container-storage-interface-ga/). This would add support for multiple cloud providers/custom solutions with one spec.

[The API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#csipersistentvolumesource-v1-core) is relatively simple since most of th

[2019-02-03 23:00] mbarrien commented on #270
Possible duplicate of #204

[2019-02-04 15:20] alexsomesan opened #297 "Explore vendoring exec auth plugins"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2019-02-04 15:43] pdecat commented on #297
Hi @alexsomesan, did you push _Submit new issue_ by mistake? :wink:

[2019-02-05 21:56] jhoblitt commented on #212
It looks like `Job` has been out of beta for awhile.  The oldest I checked was `1.10`.  Unfortunately, as of `1.13`, `CronJob` is still beta :https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#cronjob-v1beta1-batch

However, since the the api version is in the resource definition, it doesn't seem like using the beta api is really all that risky. @alexsomesan could we revisit the

[2019-02-06 11:08] ricardojover opened #302 "Allow to update default service account"
I want to add "image_pull_secret" to my default service account, but I'm getting the error "serviceaccounts "default" already exists"

### Terraform Version
Terraform v0.11.11

### Affected Resource(s)
- kubernetes_service_account

### Terraform Configuration Files
[code]

### Expected Behavior
It should modify the default service account to have the new imagePullSecrets attached as it happens whe

[2019-02-06 14:17] pdecat commented on #302
This should require some investigation:

[code]

https://github.com/terraform-providers/terraform-provider-kubernetes/blame/cef8ec0499890c5ccaa7bbacc4eb21a8763c506e/kubernetes/resource_kubernetes_service_account.go#L25

[2019-02-06 18:17] RobMaskell commented on #212
Or maybe consider a beta provider that has these beta resources in it, would probably be useful for the GCP provider too given the long beta cycle of some google cloud resources?

[2019-02-06 21:09] mattysweeps opened #303 "Feature Request: data source for Secret"
It would be nice if the Kubernetes provider had a data source for a Kubernetes Secret:
https://kubernetes.io/docs/concepts/configuration/secret/

A Terraform resource already exists:
https://www.terraform.io/docs/providers/kubernetes/r/secret.html

[2019-02-06 21:13] alexsomesan commented on #303
Hi Matty,
You'll be glad to hear such a datasource already exists. I think this a problem of the latest documentation not being deployed to the website. I will fix that right away!

In the mean time, you can have a look at the code for the the names of the attributes, if that's helpful.

https://github.com/terraform-providers/terraform-provider-kubernetes/blob/v1.5.0/kubernetes/data_source_kuberne

[2019-02-06 21:16] mattysweeps commented on #303
That is good news! Thank you

[2019-02-06 21:17] bflad commented on #161
Related to the above comment with EKS, https://github.com/terraform-providers/terraform-provider-aws/pull/7438 (a continuation of https://github.com/terraform-providers/terraform-provider-aws/pull/4904) has been merged and will release in version 1.58.0 of the Terraform AWS provider, which contains a new `aws_eks_cluster_auth` data source, e.g.

[code]

[2019-02-06 22:31] alexsomesan commented on #303
fixed

https://www.terraform.io/docs/providers/kubernetes/d/secret.html

[2019-02-06 22:31] #303 closed

[2019-02-08 05:20] hashibot[bot] opened #305 "Missing attribute publishNotReadyAddresses in kubernetes_service resource"
_This issue was originally opened by @manthila as hashicorp/terraform#20256. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi All

We are using below terraform version.

### Current Terraform Version

[code]

### Use-cases
When using headless services for statef

[2019-02-08 11:45] Radik2 commented on #14
Hello guys,

Let me ask you if you have ever had a problem with the "tfstate" file while initializing the backend which in my case is Nexus or Artifactory :
Initializing the backend...

Successfully configured the backend "artifactory"! Terraform will automatically
use this backend unless the backend configuration changes.
Error refreshing state: Get hostNameOfRemoteArtifactory: dial tcp someipadd

[2019-02-08 14:36] #305 closed

[2019-02-08 19:31] trajakovic opened #308 "Feature Request: data kubernetes_service by labels selector(s)"
### Terraform Version
Terraform v0.11.11

### Affected Resource(s)
provider "kubernetes" (1.5.0)
- data kubernetes_service

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior

It would be beneficial that probably all datasources from kubernetes are selectable via labels, not by just names (i.e. some k8s parts are installed via helm_release,

[2019-02-09 18:43] JRLambertWeave commented on #233
@alexsomesan is this going to be released soon? I'm stuck mid-migration from`sl1pm4t/terraform-provider-kubernetes` until this is released.

[2019-02-11 13:45] andyoll commented on #202
Recreated same issue today using versions:
==
$ terraform -version
Terraform v0.11.11
+ provider.azuread v0.1.0
+ provider.azurerm v1.21.0
+ provider.kubernetes v1.5.0
==

[2019-02-11 17:24] andyoll commented on #201
+1 to this.

[2019-02-13 13:59] andyoll commented on #202
Work around that worked good for me:
- use kubectl to create Persistent Volume
- I still use Terraform to create the Persistent Volume Claim - but I set: 'wait_until_bound = false'.

A working example of the kubectl yaml for Persistent Volume creation is described here: https://github.com/Azure/acs-engine/issues/2299

Parameter 'kind: Managed' seems to be the important bit, and I'm guessing this i

[2019-02-13 19:07] zombor opened #309 "Provider is not saving some state from a module"
I'm using this provider to install a namespace along with tiller into that namespace with a service account. However it doesn't appear that everything is being saved in the state file. The resources are properly being applied to the k8s cluster, however.

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_deployment
- kubernetes_service

### Terraform Configura

[2019-02-13 23:03] RobinsonWM opened #310 "Terraform always wants to change network policy with empty namespace_selector"
### Summary
If I write a `kubernetes_network_policy` with an ingress or egress that has an empty `namespace_selector` (i.e. all pods in all namespaces,) Terraform wants to change the resource every time I run `terraform plan` or `terraform apply`, even though it hasn't actually changed.

This happens when a `kubernetes_network_policy` includes something like this:
[code]

Subsequent to creating th

[2019-02-14 00:34] uhari03 commented on #38
I am also running into this issue at the `Deployment` resource level. My concern is that mounting the secret as a work around is fiddling in implementation details and we'll need to update our workaround as Kubernetes evolves to dealing with service accounts / service account tokens in a different way.

[2019-02-14 08:16] pdecat commented on #310
As the author of that resource, I'll look into that.

First of all, that's a legitimate use-case: https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/05-allow-traffic-from-all-namespaces.md

[2019-02-14 08:35] pdecat commented on #310
In the meantime, here is a work-around:

[code]

[code]

[2019-02-14 19:22] mbarrien commented on #309
My guess is that this is related to https://github.com/terraform-providers/terraform-provider-kubernetes/pull/199

[2019-02-15 01:51] sinneduy opened #315 "Provider should intake a "kubeconfig" output (instead requiring a file path)"
cc @juleea

The getting started docs for EKS in terraform generates a [local](https://www.terraform.io/docs/configuration/locals.html) value in terraform that they expect to be output [into a file](https://learn.hashicorp.com/terraform/aws/eks-intro#configuring-kubectl-for-eks)

We should be able to take that local variable and input it into the kubernetes provider, and bypass the requirement for

[2019-02-15 08:47] matti opened #316 "Feature Request: Pod tolerations"
to tolerate taints

[2019-02-15 08:48] matti opened #317 "Feature Request: PersistentVolume spec.nfs key"
[code]

currently `nfs` is unknown key

[2019-02-15 12:13] matti opened #318 "kubernetes_service port name is required, but in docs optional"
[code]

I don't think it's required in the api?

[2019-02-15 12:35] pdecat commented on #318
Hmm, port name is optional in code too: https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/kubernetes/resource_kubernetes_service.go#L78

Can you share your configuration of the `kubernetes_service` resource with which you're having an issue and the output of the terraform plan?

[2019-02-15 12:52] matti commented on #318
hmm, I think I've had too many terraform errors today; I was hallucinating. sorry.

[2019-02-15 16:08] asychev commented on #310
Seems like same problem for me, but with empty pod_selector:

for this **deny-other-namespaces** policy spec

[code]
got this on every terraform apply:

[code]

[2019-02-15 16:37] pdecat commented on #310
That's the same underlying cause in the metadata flattener code.

The same work-around should apply:

[code]

[2019-02-15 19:05] asychev commented on #310
@pdecat doesn't work for me, same behaviour

[2019-02-15 19:14] pdecat commented on #310
You did put that in the `from` block?

[2019-02-15 19:19] asychev commented on #310
@pdecat yes, terraform complain about spec.0.ingress.0.from.0.pod_selector

[2019-02-15 20:17] chetanchatrath opened #319 "Error creating Persistent Disk Volume in Azure"
Hi there,

I am trying to create a Persistent Disk Volume in AKS cluster using below module

variable "log_analytics_name_RG" {
  description = "Name of the log analytics resource group."
}

variable "log_analytics_location" {
  description = "Location where the log analytics will be created in."
  default = "CanadaCentral"
}

variable "log_analytics_workspace_name" {
  description = "Name of the

[2019-02-15 21:51] maltefiala commented on #141
@ericchiang's [provider](https://github.com/ericchiang/terraform-provider-k8s) is archived by now.

[2019-02-16 09:10] pdecat commented on #310
Oops, I've tested it again and the suggested work-around indeed does not work.
And I did not find any other, sorry. :confused:

The fix is the same though, I've added this use case to the acceptance tests in my PR #312.

[2019-02-16 10:07] matti commented on #318
nope, here we go, this is not valid without "name" fields @pdecat

[code]

[code]

[2019-02-16 11:27] pdecat commented on #318
Ok, it is not terraform that is rejecting this but the kubernetes API.

This happens because there are more than one service port defined:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#serviceport-v1-core

[2019-02-16 12:18] matti commented on #318
So a resource doc update?

[2019-02-16 15:09] pdecat commented on #318
What do you mean? It is already documented.

[2019-02-16 15:25] matti commented on #318
ok.

[2019-02-16 15:25] #318 closed

[2019-02-16 19:08] yacut opened #320 "Feature request: PodDisruptionBudget Resource"
Add support for [PodDisruptionBudget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/)

[2019-02-18 17:07] yacut commented on #233
@alexsomesan if it hasn't been released yet, then why is this issue closed? am I missing something?

[2019-02-18 17:15] alexsomesan commented on #233
@yacut, you're right. This shouldn't have been closed. Someone mentioned that "it works fine" but I think they were referring to the affinity mechanism on volumes. Pod affinity is not yet released.

[2019-02-18 19:17] AlexBoulyga opened #321 "Provider doesn't support resource: kubernetes_cluster_role"
### Terraform Version
Terraform v0.11.11
+ provider.kubernetes v1.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- kubernetes_cluster_role

### Terraform Configuration Files
[code]

### Expected Behavior
The kubernetes_cluster_role should exist and work (or throw an error if config is wrong)

### Actual Behavior
Terraform finds the other providers like service acco